#telcoson_logo {
//  display: inline;
//  float: left;
  position: absolute;
//  margin-left: 10px;
//  margin-right: 10px;
//  padding-right: 20px;
  top: 5px;
  right: 0px;
  margin: 0px;
  padding: 0px;
}
.nospacing{
  padding: 0px;
  margin: 0px;
}


.container_top {
  height: 50px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
  z-index: 100;
  zoom: 1;
  width: 100%;
}

.container_top .company {
  height: 50px;
  color: #555;
  font-family: Arial, serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  display: inline;
  float: left;
  position: relative;
  text-shadow: 0 1px 0 #ddd;
}

.container_top .companytext {
  background: #fff;
  margin-left: 30px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
//  filter:alpha(opacity=9);
//  -moz-opacity:0.9;
//  -khtml-opacity: 0.9;
//  opacity: 0.9;
  //vertical-align: middle;
  //padding-top: 30px;

  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.container_top .company a {
  color: #555;
  text-decoration: none;
}

.container_top .container_menu {
  float: right;
  padding-right: 70px;
}

.container_top .user {
  display: inline;
  float: left;
  position: relative;
  padding-top: 3px;
  color: #fff;
  //font-family: 'Yanone Kaffeesatz', arial, serif;
  font-size: 80%;
  font-weight: bold;
  //margin-left: 40px;
  margin-right: 40px;
}

.container_top .user a {
  color: #fff;
  line-height: 30px;
  text-shadow: 0 1px 0 #555;
  text-decoration: none;
}

.container_top .navicon-search {
  margin-top: 3px;
  padding-left: 15px;
  -background-image: url(../images/search.png);
  top: -30px;
}

.container_top .navicon-setting {
  margin-top: 3px;
  padding-left: 15px;
//  background-image: url(../images/search.png);
}

.container_top .navicon-logout {
  margin-top: 3px;
  padding-left: 15px;
  //background-image: url(../images/search.png);
}

.container_top .navicon {
  background-repeat: no-repeat;
  font-size: 80%;
  display: inline;
  float: left;
  position: relative;
  margin-right: 15px;
  border-left: 1px #ddd dotted;
}

.container_top .navicon a {
  color: #fff;
  line-height: 30px;
  text-shadow: 0 1px 0 #555;
  text-decoration: none;
}

.container_top .navicon a:hover {
  text-decoration: underline;
}

.container_top .searchbox {
  display: inline;
  float: left;
  position: relative;
  top: 30px;
}

.container_main {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.container_main .full {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.viewsection .label {
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  width: 120px;
}

.viewsection .label small {
  color: #666666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  text-align: left;
  width: 120px;
}

.viewsection .value {
  //line-height: 26px;
  font-size: 12px;
  margi../layout.cssn-top: 2px;
  margin-bottom../layout.css: 10px;
  margin-left: 130px;
}

.notification_meg {
  margin-bottom:5px;
  padding-bottom:5px;
}

.bu-div .button{
  margin-left: 5px;
  margin-bottom: 2px;
  min-height: 26px;
}

.bu-formview {
  padding: 8px;
  min-height: 25px;
  //text-align: right !important;
}

.bu-tabletop {
  padding: 8px;
  min-height: 25px; //ie fix
//  background: #f0f0f0;
//  background: -moz-linear-gradient(top,  #f0f0f0,  #fff);
//  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fff));
}

.bu-tablebottom {
  padding: 8px;
  min-height: 25px;
}

.bu__d {
  font-weight:bold;
  color: #fff;
  background: #ff0000;
  padding: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.dashboard {
  padding: 25px;
  background: #555555 url(../images/backgrounds/06.png) repeat 0 0;
  //background: #f0f0f0;
  //background: -moz-linear-gradient(top,  #aaa,  #eee);
  //background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fff));
}

.tabtable {
  padding: 0px;
  margin: 0px;
}

.tabtable .bu-tabletop {
  padding: 0px;
  padding-bottom: 8px;
  margin: 0px;
  min-height: 25px; //ie fix
}







.cardview {
  clear:left;
  float:left;
  width:100%;
  //background:#f4f4f4;
  //padding-bottom:10px;
}

.cardview .boxwrapphoto {
	float:left;
	width:80px;
	margin-top:0px;
    margin-left:10px;
}
.cardview .boxphoto {
//	float:left;
	width:70px;
	padding-bottom:0px;
//    background:#eee;
}

.cardview .boxpadphoto {
	position:relative;
	//right:5px;
	//float:right;
	width:70px;
	overflow:hidden;
}

.cardview .boxwrap {
	float:left;
	width:250px;
	margin-top:0px;
}
.cardview .box {
	float:right;
	width:240px;
	padding-bottom:0px;
    //background:#fff;
}
.cardview .boxpad {
	position:relative;
	//right:0px;
	//float:right;
	width:240px;
	overflow:hidden;
}

.cardviewinside div {
  overflow: hidden;
  //white-space: nowrap;
}

.cardviewinside div a {
	color:#000;
}

.cardviewinside div a:hover {
	color:#3366cc;
    text-decoration: underline;
}

.cardviewinside .photo {
//  position:absolute;

  background: #373737;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#333333));
  background: -moz-linear-gradient(top, #444444, #333333);
  background: linear-gradient(top, #444444, #333333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#333333');
  -webkit-box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
//  float: left;
  height: 60px;
//  margin-right: 10px;
  //left: 1px;
  //top: 1px;
  margin:5px;
  width: 60px;

//  -moz-box-shadow: 0 0 5px #888;
//  -webkit-box-shadow: 0 0 5px#888;
//  box-shadow: 0 0 5px #888;
//  border: 1px #fff solid;
}

.cardviewinside .photo div {
  background: transparent url(../images/navicons/111.png) no-repeat center center;
  height: 100%;
}

.cardviewinside .photo:hover {
//  -moz-box-shadow: 0 0 5px #3366cc;
//  -webkit-box-shadow: 0 0 5px#3366cc;
//  box-shadow: 0 0 5px #3366cc;
//  border: 1px #fff solid;
}

.cardviewinside .title  {
  font-size: 14px;
  font-weight: bold;
}
.cardviewinside .city, .cardviewinside .email, .cardviewinside .tel, .cardviewinside .name, .cardviewinside .text  {
  font-size: 10px;
}

.cardview hover, .cardview .active {
  background: #eeeeee;
  filter: none;
}




.avatar {
//  position:absolute;

  background: #373737;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#333333));
  background: -moz-linear-gradient(top, #444444, #333333);
  background: linear-gradient(top, #444444, #333333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#333333');
  -webkit-box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
//  float: left;
  height: 60px;
//  margin-right: 10px;
  //left: 1px;
  //top: 1px;
  margin:0px;
  width: 60px;

//  -moz-box-shadow: 0 0 5px #888;
//  -webkit-box-shadow: 0 0 5px#888;
//  box-shadow: 0 0 5px #888;
//  border: 1px #fff solid;
}

.avatar div {
  background: transparent url(../images/navicons/111.png) no-repeat center center;
  height: 100%;
}








#apphead {
  position: relative;
  width: 100%;
  z-index: 100;
}

#apphead .apphead_warp {
    height:33px;
    //position: relative;
    //background: #e8e8e8;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

#apphead .apphead_warp .apphead_title {

    background: #e8e8e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf));
    background: -moz-linear-gradient(top, #fff, #dfdfdf);
    background: linear-gradient(top, #fff, #dfdfdf);

	height:30px;
    line-height:30px;
    margin:0px;
    padding:0px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color:#999;
    text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    -moz-box-shadow: 0px 1px 2px #bbb;
    -webkit-box-shadow: 0px 1px 2px #bbb;
    box-shadow: 0px 1px 2px #bbb;

    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

#apphead .apphead_warp .apphead_title .appname{
    font-weight: bold;
    font-size: 13px;
    color:#444;
}

#apphead .apphead_warp .apphead_title li {
    list-style-type:none;
    padding-left:10px;
	display:inline-block;
	float:left;
}

#apphead .apphead_warp .apphead_title a {
	display:inline-block;
    background-image:url('../../../../html/images/bc_separator.gif');
    background-repeat:no-repeat;
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#777;
	outline:none;
}

#apphead .apphead_warp .apphead_title a.lasttitle {
    background-image:none;
}

#apphead .apphead_warp .apphead_title .home {
    border:none;
//    margin: 7px 0px;
}

#apphead .apphead_warp .apphead_title a:hover {
	color:#3366cc;
    text-decoration: underline;
}

#apphead form {
  margin-top: -5px;
  margin-right: 3px;
}

#apphead form input[type=text] {
    background: #ddd;
    border: 1px solid #191919;
    margin-top: 7px;
    //-moz-box-shadow: 0 1px 0 #ddd;
    //-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
    //-webkit-box-shadow: 0 1px 0 #ddd;
    //-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
    //-khtml-box-shadow: 0 1px 0 #ddd;
    //-khtml-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
    //box-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
#apphead form input.text {
    color: #000;
}
#apphead form input[type=text]:hover {
    background: #eee;
}
#apphead form input[type=text]:focus {
    background: #eee;
}

#apphead #quick-search {
  background: #eee url(../images/search.png) no-repeat right center;
  border: 1px solid #777;
  margin-top: 7px;
  padding-right: 20px;
  text-shadow: none;
  width: 100%;
  color: #000;
}
#apphead #quick-search:hover {
  background-color: #eee;
  border: 1px solid #5e9ae2;
}
#apphead #quick-search:focus {
  background-color: #fafafa;
  border: 1px solid #000;
}

#apphead .apphead_warp2 {
	height:35px;
    //line-height:30px;
    //color:#888;
    //overflow:hidden;
    width:100%;
    margin:0px;
    padding:0px;
    //-moz-box-shadow: inset 0px -1px 2px #ccc;
    //-webkit-box-shadow: inset 0px -1px 2px #ccc;
    //box-shadow: inset 0px -1px 2px #ccc;
}















/* core_layout_content 1*/
.cf1 {
position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
clear:both;
float:left;
width:100%;			/* width of whole page */
//overflow:hidden;	/* This chops off any overhanging divs */
}
/* 1 column full page settings */
.cf1_fullpage {
background:#fff;
}
.cf1 .cf1_col1 {
margin:0px;
}


/* core_layout_content */
.cf2 {
position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
clear:both;
float:left;
width:100%;			/* width of whole page */
overflow:hidden;	/* This chops off any overhanging divs */
}
/* 2 column left menu settings */
.cf2_left {
//background:#FFD8B7;
}
.cf2_left .cf2_right {
float:left;
width:200%;
position:relative;
left:400px;
background:#fff;
}
.cf2_left .cf2_rightwrap {
float:right;
width:50%;
position:relative;
right:400px;
padding-bottom:1em;
}
.cf2_left .cf2_rightcol {
margin:0 0px 0 400px;
position:relative;
right:100%;
overflow:hidden;
}
.cf2_left .cf2_leftcol {
float:left;
width:400px;
position:relative;
right:400px;
}



/* core_layout_content */
.cf3 {
position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
clear:both;
float:left;
width:100%;			/* width of whole page */
overflow:hidden;	/* This chops off any overhanging divs */
}
/* 2 column right menu settings */
.cf3_right {
//background:#ff9;
}
.cf3_right .cf3_left {
float:left;
width:200%;
margin-left:-350px;
position:relative;
right:100%;
background:#fff;
}
.cf3_right .cf3_leftwrap {
float:left;
width:50%;
position:relative;
left:50%;
padding-bottom:1em;
}
.cf3_right .cf3_leftcol {
margin:0 15px 0 350px;
overflow:hidden;
}
.cf3_right .cf3_rightcol {
float:right;
width:350px;
position:relative;
left:330px;
}



.formview {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 24px;
}
.formview .field {
  clear: both;
  min-height: 24px;
}
.formview .label {
  display: block;
  float: left;
  margin: 0;
  text-align: right;
  width: 130px;
}
.formview .value {
  margin-left: 140px;
  font-weight: bold;
}

.formview .nobr {
  margin-left: 0px;
}

.allnolabel .value {
  margin-left: 0px;
}




#divcardsum {
  //margin: 10px;
}

#divcardsum .formview {
  font-size: 12px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  line-height: 18px;
  width: 300px;
  float: left;
  //background: #ddd;
}

#divcardsum .formview .field {
  //clear: both;
  //background: #eee;
  margin-left: 80px;
  min-height: 0px;
}

#divcardsum .formview .label {
  display: none;
}

#divcardsum .formview .value {
  margin-left: 0px;
  font-weight: bold;
}

#divcardsum .formview .f_card_avatar {
  position: absolute;
  float: left;
  margin-left: 0px;
  //clear: right;
}
#divcardsum .formview .f_card_avatar .value{
  margin-left: 0px;
}

#divcardsum .formview .f_card_orgname {
  //float: none;
  //clear: both;
  font-size: 20px;
}

#divcardsum .formview .f_card_fname {
  //position: absolute;
  float: left;
  font-size: 16px;
}
#divcardsum .formview .f_card_mname {
  //position: absolute;
  float: left;
  font-size: 16px;
}
#divcardsum .formview .f_card_lname {
  position: relative;
  float: left;
  font-size: 16px;
}


#divcardsum .divcard_email_inner {
  //positio../layout.cssn: static;
  left: 360px;
  width: 250px;
  //display: block;
  //background: #eee;
  line-height: 18px;
  float: left;
}

#divcardsum .divcard_tel_inner {
  //position: static;
  left: 360px;
  width: 250px;
  float: left;

}
#divcardsum .divcard_social_inner {
  //position: static;
  left: 360px;
  width: 250px;
  float: left;

}
#divcardsum table.divcard_email_inner tbody tr td{
  padding: 0px;
}
#divcardsum table.divcard_tel_inner tbody tr td{
  padding: 0px;
}
#divcardsum table.divcard_social_inner tbody tr td{
  padding: 0px;
}



#divcard_notes .formview .label {
  display: none;
}
#divcard_notes .formview .value {
  margin-left: 0px;
  font-weight: normal;
}

#divcard_notes .form .form-label {
  display: none;
}
#divcard_notes .form .form-input {
  margin-left: 20px;
  font-weight: normal;
}


#profilepic_warp{
position: relative;
width: 100%;
margin: 10px;
min-height: 200px;
}

#profilepic_upload {
padding: 10px;
}

#profilepic_org_warp {
display: none;
}

#profilepic_org {
//float: left;
margin: 10px;
width: 300px;
padding: 5px;
border: 4px solid #eee;
}

#profilepic_preload_warp {
display: none;
}

.profilepic_preload {
//float: left;
margin: 2px;
width: 60px;
height: 60px;
//padding: 5px;
//border: 4px solid #eee;
}


#profilepic_preview {
//float: left;
margin: 10px;
width: 60px;
height: 60px;
padding: 5px;
border: 4px solid #eee;
}

#profilepic_preview img {
width: 60px;
height: 60px;
}


#profilepic_preview #profilepic_preview_img {
width: 60px;
height: 60px;
overflow: hidden;
}

#profilepic_data {
//visibility: hidden;
//position: absolute;
display: none;
//width: 0px;
//height: 0px;
//overflow: hidden;
}

.login {
	width:400px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -200px;
}

.login .cf1_col1 .grid_6 {
	width:400px;
}

.login #divaccess_logininfo {
    padding:20px;
}

.tpaneltable th,.tpaneltable td {
  padding: 5px 10px;
}

.tpaneltable_notitle thead{
  visibility: hidden;
}

//.tpaneltable_notitle .dataTables_wrapper {
//  min-height: 0px;
//}


#xmsg {
    position:fixed;
    top:60px;
    z-index: 999;
    left: 40%;
    min-width: 300px;
    max-width: 600px;

    //padding-left: 15px;
    //padding-right: 15px;
}
                    

