/* chat icon */
.chatSection { bottom:0; right: 2.5%; font-size: 13px; z-index:13;}
.chatItem:hover , .chatItem.active{ background:#c6c6c6; }
.chatItem .count { width: 15px; height: 15px; top: -8px; right: 4px; z-index:10 }
.chatBox {  bottom: 50px; left: -210px; z-index: 9; } 
.chatList .chatBox {  bottom: 50px; left: -210px; z-index: 9; } 
.chatBoxItem { width: 240px }
.chatBoxItem:hover { background: #f7edc3; }
.chatBoxItem.bgN:hover { background: none; }
.chatBoxItem .avatar, .chatItem .avatar { padding: 1px; border: solid 1px #e6e1ca; background:#fff; width: 28px; height: 28px;}
.chatItem .avatar { border: solid 1px #c7c7c7;}
.chatBoxItem .noAvatar { width: 28px; height: 28px; line-height: 28px; }
.chatBoxItem .inv-field { margin-bottom:0; width: 96%;}
.chatBoxItem.setStatus .status:hover { background: #f9f0ce; text-decoration: none;}
.chatBoxIner { width: 260px;	position: relative;	background: #fff9e0;	border: 1px solid #ede5c5;    -moz-box-shadow: 0 0 7px #b4b3b3; -webkit-box-shadow: 0 0 7px #b4b3b3; box-shadow: 0 0 7px #b4b3b3; }
.chatBoxIner:after, .chatBoxIner:before {	top: 100%;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;}
.chatBoxIner:after {	border-top-color: #fff9e0;	border-width: 6px;	right: 20px;	margin-left: -6px;}
.chatBoxIner:before {	border-top-color: #ede5c5;	border-width: 6px;	right: 20px;	margin-left: -6px;}
.chatBoxIner .chatScroll { max-height: 300px; overflow-y: auto; overflow-x: hidden; padding-right: 10px; }
.chatBoxIner.bigChat { width: 460px; }
.chatBoxIner.bigChat .chatBoxItem { width: 440px }
.chatBoxIner.bigChat .w80p { width: 90% }
.chatBoxIner.bigChat .chatBoxItem .inv-field { width: 98%;}

.iChat { background: url(../img/app/chat/chatIcon.png) no-repeat; display: inline-block; }
.iChat1 {  background-position: -1px -1px; width: 29px; height: 32px }
.iChat2 {  background-position: -1px -35px; width: 27px; height: 27px }
.iChat3 {  background-position: -1px -65px; width: 27px; height: 27px }
.iChat4 {  background-position: -36px -3px; width: 10px; height: 11px }
.iChat5 {  background-position: -50px -7px; width: 10px; height: 4px }
.iChat6 {  background-position: -62px -1px; width: 16px; height: 15px }
.iChat7 {  background-position: -34px -18px; width: 30px; height: 32px }
.iChat8 {  background-position: -33px -53px; width: 30px; height: 32px }
.iChat9 {  background-position: -1px -95px; width: 27px; height: 27px }	
	
/* login */

.login {
	background: #e1e1e1;
}

.loginBox {
	position: relative;
	top: 20%;
	margin-right: auto;
	margin-left: auto;	
	text-align: center;
}

.login .loginBox .loginBoxText {
	color: #666;		
}

.ico-user-grey{background:url(../img/app/login/ico-user.png) no-repeat right; padding-right:20px}
.ico-plus-grey{background:url(../img/app/login/ico-plus.png) no-repeat right;  padding-right:20px}
.ico-learn-grey{background:url(../img/app/login/ico-learn.png) no-repeat right;  padding-right:20px}
.ico-cloud-grey{background:url(../img/app/login/ico-cloud.png) no-repeat right; padding-right:20px}

.bottom-login { position:fixed; bottom:20px; right:20px; }
.bottom-login ul li{ list-style:none; text-align:right; padding:5px 10px}
.bottom-login ul { line-height:22px }
.bottom-login ul li a {color:#666; font-weight:bold; text-decoration:none; font-family:Helvetica,Arial,  sans-serif; margin-right:5px}
.bottom-login ul li a:hover{color:#2a3d75;}

.login .poweredby {
	display: block;
}

/* Setting */

/* Settings box */
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: url(../img/overlay.png) repeat;
	display: none;
}

#settings{
	background: none repeat scroll 0 0 white;
    border-radius: 5px 5px 5px 5px;
    bottom: 0;
    box-shadow: 0 0 30px 0 rgba(119, 119, 119, 0.7);
    display: none;
    height: auto;
    left: 0;
    margin: 150px auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    z-index: 1000;
	height: 480px;
}
	
.setting-top {height:65px; background:#475152; width: 600px; overflow:hidden; padding-top:10px; position:fixed;z-index:5; border-radius: 5px 5px 0 0;}
.setting-top div{width:80%;float:left; overflow:hidden; padding-top:10px}
.setting-top h2{font-family: "Lato", Helvetica,Arial, sans-serif; font-size:30px; color:#fff; font-weight:normal; padding:0 0px; float:left; border-bottom:3px double #666}
.setting-top span{ 
	display: inline-block;
	width: 4px;
	height: 18px;
	margin: 0 10px;
	position: relative;
	top: -3px;
	background: url(../img/breadcrumbArrowSetting.png) no-repeat;
	color:#FFFFFF;
	padding-left:10px;
	top:12px;
	font-family: "Lato"; font-size:14px; color:#fff; font-weight:normal; 
}
.setting-top input[type=button]{float:right; border:0; margin:10px 0px; background:url(../img/close.png) no-repeat; width:48px; height:48px}

.setting-content {position:absolute;top:75px;overflow-x: hidden; overflow-y: scroll; width:600px; height:400px;}
.cont-icon ul{padding-left:0px;}
.cont-icon ul li{float:left; padding:5px 10px 0 5px; list-style:none; width:80px; min-height:80px; text-align:center;}

.cont-icon li a {
	display: block;
	width: 58px;
	padding: 43px 0 0 5px;
	background: url(../img/appicons.png) no-repeat;
	font-family: "Lato", sans-serif;
	font-weight:normal;
	font-size: 12px;
	line-height: 24px;
	color: white;
	text-align: center;
	text-decoration: none;
	color: #666;
}

.cont-icon li a:hover {
	color: #888;
}

.cont-icon li a.home {
	background-position: 10px -100px;
}

.cont-icon li a.activity {
	background-position: 10px -100px;
}

.cont-icon li a.calendar {
	background-position: 10px -100px;
}

.cont-icon li a.addressbook {
	background-position: 10px -100px;
}

/*START HELPDESK LIST CSS */
#helpdesk_fillter{
	width:100%;
	height:68px;
	float:left;
	padding:0px 0 0 1px;
	display:inline;
	margin-top:5px;
}
#helpdesk_fillter ul li{
	float:left;
	margin-right:2px;
	font-size:13px;
	font-weight:bold;
	width:170px;
	height:50px;
}
#helpdesk_fillter  a{
	font-size:11px;
}
#helpdesk_fillter  select{
	width:150px;
}
#helpdesk_fillter  input{
	width:110px;
}
#helpdesk_fillter .fillter_label{
	font-weight:normal;
}

#helpdesk_change_info{
	color:#1d57a0;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
	margin:0 0 0 750px !important;
}
#helpdesk_save_info{
	color:#1d57a0;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
	margin:0 0 0 750px !important;
}
#helpdesk_edit{
	display:none;
}
#helpdesk_comment textarea{
	width:794px;
	height:193px;
	float:left;
}
#helpdesk_comment_submit{
	width:100%;
	float:left;
	margin-top:2px;
}
#plupload{
	float:left;
	width:200px;
	display:inline;
	margin-left:40px;
}
#helpdesk_comment{
	float:left;
	width:100%;
	margin-left:40px;
	display:inline;
}
#helpdesk_comment_list{
	float:left;
	margin-top:30px;
	width:100%;
}
.helpdesk_comment_info{
	width:100%;
	float:left;
	border-bottom:1px solid #f4f4f4;
	margin-bottom:15px;
}
.helpdesk_comment_info_user{
	width:100%;
	height:50px;
	float:left;
}
.helpdesk_comment_user_avatar{
	width:45px;
	height:52px;
	float:left;
}
.helpdesk_comment_content{
	float:left;
	width:760px;
	margin:0 0 25px 53px;
	display:inline;
	color:#444444;
	font-size:13px;
}
.helpdesk_comment_arrow {
	float:left;
	width:50px;
	margin-top:-30px;
	margin-left: -46px !important;
}
.helpdesk_comment_detail{
	color:#444444;
	font-size:13px;
	float:left;
	display:inline;
	display:none;
}
.helpdesk_comment_detail p {
	line-height:10px;
}
.helpdesk_wap_comment_content{
	float:left;
	margin-bottom:5px;
	width:100%;
}
.btn-group a{
	color:white;
}
#top_button a{
	color:white;
}
.dropdown-menu a{
	color:#000000 !important;
}
#pickfiles{
	width:70px;
	height:20px;
}
#helpdesk_loadding{
	width:32px;
	height:32px;
	background:url(../img/hd_loading.gif);
	position:absolute;
	top:53px;
	left:365px;
	display:none;
	z-index: 9999;
}
.helpdesk_down_arrow{
	width:19px;
	height:19px;
	background:url(../img/invoice-down_arrow.png) no-repeat;
	cursor:pointer;
}
.helpdesk_up_arrow{
	width:19px;
	height:19px;
	background:url(../img/invoice-up_arrow.jpg) no-repeat;
	cursor:pointer;
}
.helpdesk_fillter_label{
	width:125px;
	margin-bottom:5px;
	float:left;
}
#helpdesk_input_data_fillter{
	width:100%;
	display:none;
	float:left;
}
#helpdesk_top_cases{
	width:100%;
	float:left;
	height:25px;
}

#helpdesk_main_cases{
	width:100%;
	float:left;
}
#helpdesk_main_cases thead{
	height:41px;
	background:url(../img/invoice/invoice-bg_thead.jpg) repeat-x;
	font-size:13px;
	color:#444444;
	padding:0 38px 0 10px;
	line-height:37px;
}
#helpdesk_main_cases tbody{
	min-height:41px;
}

#helpdesk_main_cases th{
	text-align:left;
}
#helpdesk_main_cases tbody tr{
	height:40px;
	line-height:40px;
	font-size:13px;
	border-bottom:1px solid #eeeeee;
	width:861px;
}
#helpdesk_main_cases tbody a{
	color:#1d57a0;
	font-weight:bold;
	text-decoration:underline;
}
#boxes{
	width:860px;
}
#helpdesk_cases{
	float:left;
	min-height:252px;
	width:860px;
}
/*END HELPDESK LIST CSS */

/* Invoice */
#invoice_main_fillter .down_arrow {background: url(../img/app/invoice/invoice-down_arrow.png) no-repeat; cursor: pointer; height: 19px; width: 19px;}
#invoice_main_fillter .up_arrow {background: url(../img/app/invoice/invoice-up_arrow.jpg) no-repeat; cursor: pointer; height: 19px; width: 19px;}
#invoice_main_fillter ul {margin: 0; padding: 0;}
#invoice_main_fillter ul li {float:left; margin-right:2px; font-size:13px; font-weight:bold; width:123px; height:50px;}
#invoice_main_fillter a {font-size:11px;}
#invoice_main_fillter select {width:121px;}
#invoice_main_fillter input {width:110px;}
#invoice_main_fillter .fillter_label {display: block;margin-bottom: 5px; width: 100%;}
#invoice_main_fillter #invoice_amount label {color: #A8682A;font-weight: bold;}
#invoice_main_fillter #slider-range {margin-top:-3px;}

#invoice_title_item_edit {height:53px;width:860px;text-align:right;font-size:30px;color:#485152;}

#invoice_main_cases {width:100%;float:left;}
#invoice_main_cases thead {height:41px;background:url(../img/app/invoice/invoice-bg_thead.jpg) repeat-x;font-size:13px;color:#444444;padding:0 38px 0 10px; line-height:37px;}
#invoice_main_cases tbody {min-height:41px;}
#invoice_main_cases th {text-align:left;}
#invoice_main_cases tbody tr {height:40px;line-height:40px;font-size:13px;border-bottom:1px solid #eeeeee;width:861px;}
#invoice_main_cases tbody a {color:#1d57a0;font-weight:bold;text-decoration:underline;}

#invoice_detail {margin-top: 20px; width: 100%;}
#invoice_item_list_header div {float: left;background: url(../img/app/invoice/invoice-bg_thead.jpg) repeat-x;color: #444444;font-size: 13px;font-weight: bold;line-height: 37px;height: 41px;}
.invoice_item {border-bottom: 1px solid #f7f7f7;}
.invoice_item ul {margin: 0; padding: 0;}
.invoice_item div {float: left;margin-right: 1px;}
.invoice_item_main div {float: left;margin-top: 15px;}
.invoice_item .col-1 {padding: 6px;width: 16px;}
.invoice_item .col-2 {width: 208px;}
.invoice_item .col-3 {width: 347px;}
.invoice_item .col-4 {width: 76px;}
.invoice_item .col-5 {width: 69px;}
.invoice_item .col-6 {cursor: auto;padding: 5px 0 0 5px;max-width: 80px;width: 60px;}
.invoice_item .col-7 {width: 90px;}
.invoice_item .col-8 {width: 90px;}
.invoice_item .col-9 {width: 100px;}
.invoice_item .col-10 {width: 100px;}
.invoice_item .col-11 {width: 90px;}
.invoice_item .col-12 {width: 158px;}
.invoice_item input {margin-bottom: 1px;}
.invoice_item input[type="checkbox"] {width: auto;}
.invoice_item .row_delete {width:15px;height:15px;background: url("../img/app/invoice/invoice-delete_row.jpg") no-repeat scroll 0 0 transparent;cursor:pointer;}
.invoice_item .row_move {width:13px;height:13px;background: url("../img/app/invoice/invoice-move.jpg") no-repeat scroll 1px 2px transparent;cursor:pointer;}
.invoice_item .row_up {width:19px;height:19px;background: url("../img/app/invoice/invoice-up_arrow.jpg") no-repeat scroll -4px 0 transparent;cursor:pointer;}
.invoice_item .row_down {width:19px;height:19px;background: url("../img/app/invoice/invoice-down_arrow.png") no-repeat scroll -4px 0 transparent;cursor:pointer;}

#invoice_add_row {float:left;width: 128px;margin-left:29px;}
#invoice_all_discount {float:left;padding-top: 5px;width: 460px;}
#invoice_all_discount ul {margin: 0;padding: 0;}
#invoice_all_discount ul li {float:left;margin-right:15px;}
#invoice_all_discount input, #invoice_all_discount select {width:100px;margin-top:-3px;}

#invoice_total_price {width:240px;background-color:#f7f7f7;float:right;font-size:13px;color:#444444;padding: 6px 0 15px;}
#invoice_total_price ul {margin: 0;padding: 0;}
#invoice_total_price ul li {width:100%;padding: 13px 0;}
.invoice_total_label {width:125px;float:left;text-align:right;}
.invoice_total_price {float:left;margin-left:23px ;display:inline;max-width: 90px;}

#invoice_footer {float: left;padding-top: 15px;}
#invoice_submit_all_page {text-align:right;padding-top:20px;float: right;width: 100%;}
#invoice_note {float:left;width:100%;padding-top:20px;}
#invoice_term_condition {float:left;width:420px;}
#invoice_note_customer {float:left;width:420px;margin-left:17px;display:inline;}
#invoice_term_condition_title {float:left;width: 270px;}
#invoice_term_condition select {width:150px;}
#invoice_note textarea {width:410px;height:195px;}
#invoice_total input {font-style:italic;color:#8e9191;}

#invoice_btn {height: 27px;width: 100%;}
#invoice_btn button {float: right;margin-left: 10px;}
#invoice_container {border: 1px solid #485152;margin-top: 17px;padding: 45px 25px 25px 25px;color: #444444;}
#invoice_container .bold {font-weight: bold !important;}
#invoice_header {height: auto;width: 100%;}
#invoice_company_info {float: left;width: 340px;}
#invoice_company_name {font-size: 14px;font-weight: bold;}
#invoice_company_address {font-size: 14px;}
#invoice_title {float: left;font-size: 30px;font-weight: bold;margin-top: 6px;}
#invoice_main {margin-top: 40px;}
#invoice_bill_to {font-size: 12px;padding-left: 15px;width: 100%;}
#invoice_customer_info {float: left;background-color: #eeeeee;margin-top: 5px;padding: 10px 15px;width: 350px;}
#invoice_customer_name {font-size: 14px;font-weight: bold;}
#invoice_info {float: right;margin: 5px 30px 0 0;}
#invoice_info th {font-weight: normal;text-align: right;}
#invoice_info td {font-size: 17px;font-weight: bold;padding: 5px 5px 5px 20px;}
#invoice_item {margin-top: 15px;width: 100%;}
#invoice_item thead {background-color: #eeeeee;}
#invoice_item th {padding: 10px 8px;text-align: left;}
#invoice_item td {padding: 25px 8px;text-align: left;border-bottom: 1px solid #f7f7f7;}
#invoice_item .total {font-weight: bold;}
#invoice_item .sub_desc {font-size: 10px;padding-top: 15px;}
#invoice_summary {float: right;margin: 10px 15px 0 0;}
#invoice_summary th {font-weight: normal;text-align: right;}
#invoice_summary td {padding: 8px 0 8px 20px;}
#invoice_total {font-size: 18px;}
#invoice_balance {font-size: 14px;}
#invoice_other_info {float: left;margin-top: 25px;width: 100%;}
#invoice_other_info div {width: 100%;}
#invoice_other_info .title {font-weight: bold;margin-top: 30px;}
#invoice_other_info .content {margin-top: 15px;}