/*
body {
	padding-left: 220px;
	padding-bottom: 30px;
}
*/

#sidebar {

	background:#fdfdfd url('../img/bg-stripes.png');
	border-right: solid 1px #ccc;

	width:220px;

	position:fixed;
	top:0;
	left:0;
	bottom:0;

	overflow:hidden;
	z-index:5;
}




#company-logo {
	background-color:#FFF;
	text-align:left;
	padding:8px;
	height:40px;
}
#company-logo img {
	vertical-align:middle;
	max-height:40px;
	max-width:210px;
}
#company-logo h3 {
	display: inline;
}




#global-search-container {
	background-color:#FFF;
	padding-bottom:10px;
}

#global-search {
	margin:0 auto;
	width: 200px;
	position:relative;
}
#global-search-icon {
	position:absolute;
	left:8px;
	top:5px;
}
#global-search-options {
	margin:0 auto;
	margin-top:10px;
	width:150px;
	overflow: auto;
}
#global-search i {
	margin:3px;
}
#global-search-field {
	width: 150px;
	height:20px;
	padding-left:30px;
}



#status {
    -moz-box-shadow: 0px -1px 2px #ccc;
    -webkit-box-shadow: 0px -1px 2px #ccc;
    box-shadow: 0px -1px 2px #ccc;
	border-bottom: solid 1px #CCC;
	padding: 10px;
	z-index: 5;
	position:relative;
}
#status .avatar {
	position:relative;
	float:left;
	z-index:5;
	cursor:pointer;
}
#status .avatar img {
	position:relative;
	width:40px;
	height:40px;
	z-index:5;
}
#status-details {
	margin-left: 50px;
	cursor:pointer;
}
#status-details div {
	font-size:11px;
	line-height:18px;
}

#status-update {
	display:none;
	margin-top: 10px;
}
#status-update-submit {
	margin-right:10px;
}
#status-update input, #status-update select {
	width:190px;
}
#status-more {
	font-size:11px;
}




#nav {
	overflow-y:scroll;
	padding-bottom:80px;
	width:150%;
	position:relative;
	bottom:20px;
	top:0;
}

#nav ul li {
	//background-color:#FFF;
	background: #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
  	background: -moz-linear-gradient(top, #fff, #e6e6e6);
  	background: linear-gradient(top, #fff, #e6e6e6);
	font-size:16px;
	border-bottom:solid 1px #CCC;
	position:relative;
	height:44px;
	z-index:5;
}
#nav ul li a {
	display:block;
	position:relative;
	z-index:5;
	color: #444;
	text-decoration:none;
}

#nav ul li a:hover {
	background: #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#d6d6d6));
  	background: -moz-linear-gradient(top, #eee, #d6d6d6);
  	background: linear-gradient(top, #eee, #d6d6d6);
}

#nav ul li .app-icon {
	width:30px;
	height:30px;
	margin:7px 10px;
	display:inline-block;
}
#nav ul li .app-name {
	font-size:13px;
	font-weight:bold;
	position:absolute;
	left:50px;
	top:13px;
}




#sidebar-logo {
	position:absolute;
	bottom:40px;
	height:50px;
	width:100%;
	z-index:4;
	text-align: center;
}




#sidebar-footer {
	position:fixed;
	bottom:0;
	height:20px;
	width:210px;
	padding:5px;
	z-index:10;
}

#sidebar-footer-controls a {
	padding:10px 5px;
}


#toggle_sidebar {
	cursor:pointer;
	float:right;
	display:inline-block;
	width:20px;
	height:20px;
	vertical-align: middle;
}






#popup_message {

}

#content-container {
	background:#fafafa;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:221px;
	z-index:10;

	overflow: auto;

	padding: 0 0 30px 0;
}

#content {
	padding-left:10px;

	overflow-y: auto;
}

#content .container-fluid {
	padding-left:0;
	padding-right:10px;
}

#breadcrumb {
	margin: 5px 10px;
}

#content-footer {
	background:#eee url('../img/gd-shade-td.png') repeat-x;
	position:fixed;
	bottom:0;
	height:30px;
	width:100%;
	z-index:10;

	padding-left:10px;
}

#content-footer .nav li a {
	padding: 4px 10px;;
	margin-top:4px;
}




ul.app_list li {
	margin:5px 0;
}
ul.app_list li.selected {
	font-weight:bold;
}
/*
.tabbable {
	background-color:#FFF;
}
*/







.widget{width:100%;margin:5px 0;float:left;overflow:auto;background-color:#fff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
.widget.fade.in{top:50%;}
.widget-header{padding:5px 15px;border-bottom:1px solid #eee;}
.widget-header .close{margin-top:2px;}
.widget-body{padding:15px;}
.widget-footer{padding:14px 15px 15px;margin-bottom:0;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;*zoom:1;}.modal-footer:before,.modal-footer:after{display:table;content:"";}
.widget-footer:after{clear:both;}
.widget-footer .btn{float:right;margin-left:5px;margin-bottom:0;}






/* data tables */
div.dataTables_length label {
	float: left;
	text-align: left;
	padding-top: 6px;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	padding-bottom: 0px;
}

div.dataTables_info {
	padding-top: 8px;
	text-align: center;
}

div.dataTables_paginate {
	padding-bottom: 7px;
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}


#divcard_table_filter input {
	display:inline;
}







/* Comments */
.comments .comment { border: solid 1px #999; margin-bottom:10px; }
.replies .reply { border-bottom: solid 1px #9C9; background-color: #EFE; }
.replies .loaded { background-color:#FFE; }

.comment .avatar { width:50px; height:50px; margin:2px; float:left; }
.comment .content { margin-left: 60px; margin-right:5px; }
.reply .avatar { width:40px; height:40px; margin:2px; float:left; }
.reply .content { margin-left: 50px; margin-right:5px; }

.name { font-weight:bold; color:#393; }
.text { margin: 5px 0; font-size: 12px; }
.displaydate { font-size:10px; color: #AAA; margin: 2px 0; }
.comment .controls { margin:5px 0; }

div.sending { border: solid 1px #A8A; background-color:#FEF; text-align:center; font-weight:bold; padding:5px; color:#A8A; }

.show_more_replies { background-color:#EEF; border-bottom: solid 1px #9C9; padding:5px; text-align: center; cursor:pointer; }
.show_more_comments { background-color:#EEF; border: solid 1px #99C; padding:5px; text-align: center; cursor:pointer; }

.comments div.span1 { margin-right:0;}
.comments div.span11 { margin-left:0;}

.new_reply { margin-top:5px; }

.comment_input {width:90%;}