#payment_boxes{
	width:870px;
	float:left;
}
.payment_detail{
	width:246px;
	min-height:49px;
	float:left;
	background-color:#f7f7f7;
	border:1px solid #d9d9d9;
	padding:12px;
	margin:0 19px 18px 0;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px
}
.payment_active{
	background-color:#e9e9e9;
	border:1px solid #5d5d5d;
}
.payment_label{
	font-size:24px;
	float:left;
	text-transform:uppercase;
}
.payment_price{
	float:left;
	text-align:right !important;
	width:147px;
}
.payment_price li {
	line-height:20px;
}
.total{
	font-size:11px;
}
.red_price{
	font-size:18px;
	color:#fc0006;
}
.green_price{
	font-size:18px;
	color:#28ac0e;
}
#contact_info{
	width:445px;
	float:left;
}
#contact_info_detail ul li{
	float:left;
	width:100%;
}
#contact_info_detail .input_data_label{
	font-size:12px;
	color:#808080;
	font-weight:normal;
	width:80px;
}
#contact_info_detail .fillter_input{
	font-size:15px;
	color:#5b5b5b;
	line-height:25px;
	font-weight:bold;
}
#contact_info_detail{
	width:100%;
	float:left;
	margin-top:5px;
}
#customer_detail{
	float:left;
	width:250px;
}
#customer_detail ul li{
	float:left;
	width:100%;
}
#customer_detail .input_data_label{
	color: #808080;
    font-size: 12px;
    font-weight: normal;
    width: 80px;	
}
#customer_detail .fillter_input{
	color: #5B5B5B;
    font-size: 15px;
	font-weight:bold;
    line-height: 25px;
}