#payment_boxes{
	width:870px;
	float:left;
}
.payment_detail{
	width:246px;
	min-height:49px;
	float:left;
	background-color:#f7f7f7;
	border:1px solid #d9d9d9;
	padding:12px;
	margin:0 19px 18px 0;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px
}
.payment_active{
	background-color:#e9e9e9;
	border:1px solid #5d5d5d;
}
.payment_label{
	font-size:24px;
	float:left;
	text-transform:uppercase;
}
.payment_price{
	float:left;
	text-align:right !important;
	width:147px;
}
.payment_price li {
	line-height:20px;
}
.total{
	font-size:11px;
}
.red_price{
	font-size:18px;
	color:#fc0006;
}
.green_price{
	font-size:18px;
	color:#28ac0e;
}
#contact_info{
	width:550px;
	float:left;
}
#contact_info_detail ul li{
	float:left;
	width:100%;
}
#contact_info_detail .input_data_label{
	font-size:12px;
	color:#808080;
	font-weight:normal;
	width:80px;
}
#contact_info_detail .fillter_input{
	font-size:15px;
	color:#5b5b5b;
	line-height:25px;
	font-weight:bold;
}
#contact_info_detail{
	width:100%;
	float:left;
	margin-top:5px;
}
#customer_detail{
	float:left;
	width:250px;
}
#customer_detail ul li{
	float:left;
	width:100%;
}
#customer_detail .input_data_label{
	color: #808080;
    font-size: 12px;
    font-weight: normal;
    width: 80px;	
}
#customer_detail .fillter_input{
	color: #5B5B5B;
    font-size: 15px;
	font-weight:bold;
    line-height: 25px;
}
#contact_edit label{
	font-weight:bold !important;
	text-align:right;
}
#contact_edit .control-group{
	margin-bottom:10px;
}
#password_detail ul li{
	float:left;
	width:100%;
}
#password_detail .input_data_label{
	font-weight:normal;
}
#password_detail .fillter_input{
	font-weight:bold;
}
#password_detail ul li .fillter_input{
	line-height:28px;
}
.button_add{
	float:left;
	margin-left:405px;
	margin-top:-5px;
}
#contact_address ul li{
	float:left;
	width:100%;
	margin-bottom:5px;
}
#ui-datepicker-div{
	z-index:9999 !important;
}
#address_label span{
	float:left;
}
#uploadfiles{
	position:absolute;
	font-size:11px;
	top:54px;
	left:82px;
	width:70px;
	font-weight:bold;
	cursor:pointer;
}
#filelist{
	position:absolute;
	top:54px;
	left:160px;
}
.btn_upload{
	width:54px !important;
	height:54px !important;
	background:url(../img/add_photo.png);
	cursor:pointer;
	margin-left:85px;
}
.alert_yellow{
	float:left;
	width:350px;
	padding:10px;
	border:1px solid #fbeed6;
	background-color:#fcf8e3;
	color:#c19975;
	margin-bottom:20px;
}
.alert_pink{
	padding:10px;
	border:1px solid #efd4d7;
	background-color:#f2dede;
	color:#c04a49;
	float:left;
	margin-bottom:20px;
}
#upload_avatar{
	background-color:white;
	width:560px;
	height:560px;
	display:none;
	position:relative;
	padding:20px;
}
#contact_close{
	position:absolute;
	left:577px;
	top:0px;
	background:url(../img/contact_close.png);
	width:24px;
	height:21px;
	cursor:pointer;
}
#contact_select_file{
	width:78px;
	height:20px;
	position:absolute;
	left:27px;
	top:90px;
}
#edit_active select{
	width:120px;
}
#edit_pass input{
	width:100px;
}