/**
 * Buttons
 */
.button-gray:active,
.button-blue:active,
.button-green:active,
.button-orange:active,
.button-red:active {
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.9);
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.9);
}
.button-gray {
  background: #f1f1f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d8d8d8));
  background: -moz-linear-gradient(top, #fefefe, #d8d8d8);
  background: linear-gradient(top, #fefefe, #d8d8d8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d8d8d8');
  border: 1px solid #cbcbcb;
}
.button-gray:hover {
  background: #e4e4e4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#cbcbcb));
  background: -moz-linear-gradient(top, #f1f1f1, #cbcbcb);
  background: linear-gradient(top, #f1f1f1, #cbcbcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#cbcbcb');
  border: 1px solid #bebebe;
}
.button-gray:active {
  background: #bebebe;
  background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#e5e5e5));
  background: -moz-linear-gradient(top, #cbcbcb, #e5e5e5);
  background: linear-gradient(top, #cbcbcb, #e5e5e5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcbcb', endColorstr='#e5e5e5');
  border: 1px solid #989898;
}
.button-blue {
  background: #009ad5;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0075a2));
  background: -moz-linear-gradient(top, #00adee, #0075a2);
  background: linear-gradient(top, #00adee, #0075a2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0075a2');
  border: 1px solid #006388;
}
.button-blue:hover {
  background: #0088bb;
  background: -webkit-gradient(linear, left top, left bottom, from(#009ad5), to(#006388));
  background: -moz-linear-gradient(top, #009ad5, #006388);
  background: linear-gradient(top, #009ad5, #006388);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad5', endColorstr='#006388');
  border: 1px solid #00506f;
}
.button-blue:active {
  background: #00506f;
  background: -webkit-gradient(linear, left top, left bottom, from(#006388), to(#0088bb));
  background: -moz-linear-gradient(top, #006388, #0088bb);
  background: linear-gradient(top, #006388, #0088bb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006388', endColorstr='#0088bb');
  border: 1px solid #001922;
}
.button-green {
  background: #6ac235;
  background: -webkit-gradient(linear, left top, left bottom, from(#77cc44), to(#549a2a));
  background: -moz-linear-gradient(top, #77cc44, #549a2a);
  background: linear-gradient(top, #77cc44, #549a2a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77cc44', endColorstr='#549a2a');
  border: 1px solid #498624;
}
.button-green:hover {
  background: #5fae2f;
  background: -webkit-gradient(linear, left top, left bottom, from(#6ac235), to(#498624));
  background: -moz-linear-gradient(top, #6ac235, #498624);
  background: linear-gradient(top, #6ac235, #498624);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac235', endColorstr='#498624');
  border: 1px solid #3e721f;
}
.button-green:active {
  background: #3e721f;
  background: -webkit-gradient(linear, left top, left bottom, from(#498624), to(#5fae2f));
  background: -moz-linear-gradient(top, #498624, #5fae2f);
  background: linear-gradient(top, #498624, #5fae2f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#498624', endColorstr='#5fae2f');
  border: 1px solid #1d350f;
}
.button-orange {
  background: #ffb13b;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbb55), to(#ff9c08));
  background: -moz-linear-gradient(top, #ffbb55, #ff9c08);
  background: linear-gradient(top, #ffbb55, #ff9c08);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbb55', endColorstr='#ff9c08');
  border: 1px solid #ee8f00;
}
.button-orange:hover {
  background: #ffa722;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb13b), to(#ee8f00));
  background: -moz-linear-gradient(top, #ffb13b, #ee8f00);
  background: linear-gradient(top, #ffb13b, #ee8f00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb13b', endColorstr='#ee8f00');
  border: 1px solid #d47f00;
}
.button-orange:active {
  background: #d47f00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee8f00), to(#ffa722));
  background: -moz-linear-gradient(top, #ee8f00, #ffa722);
  background: linear-gradient(top, #ee8f00, #ffa722);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee8f00', endColorstr='#ffa722');
  border: 1px solid #885200;
}
.button-red {
  background: #d94141;
  background: -webkit-gradient(linear, left top, left bottom, from(#dd5656), to(#c02727));
  background: -moz-linear-gradient(top, #dd5656, #c02727);
  background: linear-gradient(top, #dd5656, #c02727);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd5656', endColorstr='#c02727');
  border: 1px solid #ab2222;
}
.button-red:hover {
  background: #d42c2c;
  background: -webkit-gradient(linear, left top, left bottom, from(#d94141), to(#ab2222));
  background: -moz-linear-gradient(top, #d94141, #ab2222);
  background: linear-gradient(top, #d94141, #ab2222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d94141', endColorstr='#ab2222');
  border: 1px solid #951e1e;
}
.button-red:active {
  background: #951e1e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ab2222), to(#d42c2c));
  background: -moz-linear-gradient(top, #ab2222, #d42c2c);
  background: linear-gradient(top, #ab2222, #d42c2c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab2222', endColorstr='#d42c2c');
  border: 1px solid #561111;
}
/**
 * Action Buttons
 */
ul.action-buttons {
  list-style-type: none;
  padding: 0;
}
ul.action-buttons li {
  display: inline-block;
  list-style: none;
  margin: 2px 0;
  position: relative;
  zoom: 1;
  *display: inline;
}
ul.action-buttons li a {
  cursor: pointer;
}
/**
 * Pagination
 */
.pagination {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.pagination li {
  display: inline-block;
  float: left;
  margin: 0 2px;
}
.pagination li a {
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  font-family: 'Lucida Grande', Verdana, Arial, 'Bitstream Vera Sans', sans-serif;
  height: 20px;
  line-height: 20px;
  outline: none !important;
  padding: 0 6px;
  text-align: center;
  text-decoration: none;
}
.pagination li.current a {
  background: #fff !important;
  color: #666;
  filter: none;
}
.pagination li.current a:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Progress bars
---------------------------------------------------------------------*/
.progress {
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  display: block;
  margin: 4px 0;
  min-width: 100px;
  padding: 0;
  position: relative;
}
.progress div {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  position: relative;
  text-align: center;
  width: 0;
}
.progress div b {
  color: #000;
  display: block;
  line-height: 2em;
  padding-left: 2px;
  text-shadow: 0 1px 0 #fff;
}
/**
 * Fieldsets
 */
fieldset {
  border: 0px solid #bbb;
  padding: 15px;
}
fieldset legend {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding: 0 10px;
}
fieldset.fieldset-buttons {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
fieldset.fieldset-buttons legend {
  padding: 0;
  border-width: 0;
  margin-bottom: 5px;
}
fieldset.fieldset-buttons legend .ui-buttonset {
  display: inline;
  margin: 0;
}
/**
 * Inputs and Validation
 */
.form .form-label {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 24px;
  //font-weight: bold;
  margin: 0;
  text-align: right;
  width: 130px;
}
.form .form-label small {
  color: #666666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  text-align: right;
  width: 130px;
}
.form .form-label em {
  color: red;
  font-style: normal;
}
.form .form-label.no-description {
  line-height: 30px;
}
.form .form-label.no-description small {
  display: none;
}
.form .form-action {
  margin-left: 170px;
}
.form .form-input {
  line-height: 24px;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 140px;
}
.form .form-textarea {
  line-height: 1;
}
.form .form-input textarea,
.form .form-input input[type=text],
.form .form-input input[type=password],
.form .form-input input[type=email],
.form .form-input input[type=url],
.form .form-input input[type=date],
.form .form-input input[type=number],
.form .form-input input[type=time],
.form .form-input .selector,
.form .form-input .uploader,
.form .form-input .radiogroup {
  width: 90%;
  //min-width: 100px;
  max-width: 300px;
}

.form .form-input textarea {
  position: relative;
}
input.large, button.large {
  font: 16px/20px Arial, sans-serif !important;
  padding: 8px 12px;
}
.invalid {
  border: 1px solid red !important;
}
.form-error {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 6px #dddddd;
  -moz-box-shadow: 0px 0px 6px #dddddd;
  box-shadow: 0px 0px 6px #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 11px;
  height: 15px;
  padding: 4px 10px;
  z-index: 9999;
}
.form-error p {
  color: #fff;
  display: block;
  margin: 0px;
  line-height: 13px;
}
.form-error em {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid;
  border-width: 0 5px 5px;
  border-color: #000 transparent;
  /* positioning */

  position: absolute;
  top: -5px;
  left: 10px;
}
/**
 * Tooltips
 */
.tooltip {
  /* default background for browsers without gradient support */
  background: #000;
  background: rgba(0,0,0,0.7);

  color: #fff;
  display: none;
  font-weight: normal;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100px;
  z-index: 999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 40px;
  border-radius: 4px;
  min-height: 20px;
  /* creates triangle */

}
.tooltip em {
  display: block;
  /* reduce the damage in FF3.0 */

  position: absolute;
  bottom: -8px;
  /* value = - border-top-width - border-bottom-width */

  left: 52px;
  /* controls horizontal position */

  width: 0;
  height: 0;
  border-width: 8px 8px 0;
  /* vary these values to change the angle of the vertex */

  border-style: solid;
  border-color: #000 transparent;
  border-color: rgba(0,0,0,0.7) transparent;
  zoom: 1;
}
.tooltip.bottom em {
  top: -8px;
  /* value = - border-top-width - border-bottom-width */

  border-width: 0 8px 8px;
  /* vary these values to change the angle of the vertex */
}
.tooltip.right {
  margin-left: 20px;
}
.tooltip.right em {
  border-color: transparent #000;
  border-color: transparent rgba(0,0,0,0.7);
  top: 12px;
  /* controls vertical position */

  left: -7px;
  /* value = - border-left-width - border-right-width */

  bottom: auto;
  border-width: 8px 8px 8px 0;
}
/**
 * Messages
 */
.message {
  position: relative;
}
.message > div {
  margin-bottom: 10px;
  padding: 0 10px;
}
.message > div .ui-icon {
  float: left;
  margin-right: 0.7em;
}
.message .message-close {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 6px;
  right: 6px;
  zoom: 1;
}
.message:hover .message-close {
  display: block;
}
/**
 * Sliders Demo
 */
.vertical-sliders .ui-slider-vertical {
  float: left;
  margin: 0 10px;
}
/**
 * Table Styles
 */
table.simple tr.highlight, .portlet > section.no-padding table.simple tr.highlight {
  background: #eeeeff;
}
table.simple td, .portlet > section.no-padding table.simple td {
  border-collapse: separate;
  border-top: 1px solid #bbb;
  padding: 10px 15px;
}
table.simple td strong span, .portlet > section.no-padding table.simple td strong span {
  color: #999;
}



/**
 * Speech Bubbles
 */

.speech-bubble, .tooltip, .popupballoon {
    position:relative;
    padding:10px;
    margin:1em 0 1em;
    color:#000;
    background:#ddd; /* default background for browsers without gradient support */

    /* css3 */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    min-height: 20px;
}

.speech-bubble.left {
    margin-left:20px;
}

/* creates triangle */
.tooltip:before, .popupballoon:before {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-31px; /* value = - border-top-width - border-bottom-width */
	left:75px; /* controls horizontal position */
	width:0;
	height:0;
	border:15px solid transparent;
	border-top-color:#dd6611;
}


/* creates the larger triangle */
.tooltip.left:before {
	top:9px; /* controls vertical position */
	left:-16px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:11px 16px 11px 0;
	border-style:solid;
	border-color:transparent #dd6611;
}

.speech-bubble:after, .tooltip:after, .popupballoon:after {
    content:"";
    display:block; /* reduce the damage in FF3.0 */
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    width:0;
    height:0;
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#ddd transparent;
}

.speech-bubble.left:after, .tooltip.left:after {
    top:10px; /* controls vertical position */
    left:-15px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:10px 15px 10px 0;
    border-color:transparent #ddd;
}

.comment .speech-bubble.left {
    margin-top: 10px !important;
    width: 590px;
}

.popupballoon {
    background: #fff;
    border: 1px solid #777;
    display: none;
    height: auto;
    position: absolute;
    width: 200px;
    z-index: 1000;
    -moz-box-shadow: 0 1px 3px #777;
    -webkit-box-shadow: 0 1px 3px #777;
    -khtml-box-shadow: 0 1px 3px #777;
    box-shadow: 0 1px 3px #777;
    zoom: 1;
}

.popupballoon:after {
    border-color: #fff transparent;
}
.popupballoon.top:before {
    top:-16px; /* value = - border-top-width - border-bottom-width */
    left:29px; /* controls horizontal position */
    border-width:0 16px 16px; /* vary these values to change the angle of the vertex */
    border-color: #777 transparent;
}
.popupballoon.top:after {
    top:-15px; /* value = - border-top-width - border-bottom-width */
    left:30px; /* controls horizontal position */
    border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
    border-color: #fff transparent;
}
.popupballoon h3 {
    margin-top: 0;
}
.popupballoon input[type=text], .popupballoon input[type=date], .popupballoon input.date {
    width: 185px;
}
.popupballoon select {
    width: 200px;
}

.speech-bubble:after, .tooltip:after, .popupballoon:after {
    content:"";
    display:block; /* reduce the damage in FF3.0 */
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    width:0;
    height:0;
    border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#ddd transparent;
}

.speech-bubble.left:after, .tooltip.left:after {
    top:10px; /* controls vertical position */
    left:-15px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:10px 15px 10px 0;
    border-color:transparent #ddd;
}