img{
	border:0px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

*{
	margin: 0px;
	padding: 0px;
	outline: 0 none;
}


ul {
    list-style: none outside none;
}
ul li{
	list-style:none;
}
.clearAll{ clear: both; font-size: 0px; width: 0px; height: 0px; }

html, body{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
}
.ClearLeft{
	clear:left;
}
/*BEGIN INVOICE NEW CSS */
#breadcrumb{
	width:860px;
	height:64px;
}
#module_name{
	float:left;
}
#module_name ul li{
	float:left;
	margin-right:13px;
}
.arrow{
	background:url(../img/invoice/invoice-arrow.png);
	width:4px;
	height:19px;
	margin-top:15px;
}
.curent_page{
	margin-top:15px;
	color:#808080;
}
.mainContent{
	width:100%;
	float:left;
	margin-left:126px;
	display:inline;
}
#favoriteIcon{
	margin-top:15px !important;
}
#top_button{
	float:right;
	margin-top:11px;
}
#top_button ul li{
	float:left;
	margin-left:9px;
}
.btn_list{
	width:42px;
	height:27px;
	background:url(../img/invoice/invoice-btn_list.jpg);
	cursor:pointer;
}
.btn_new{
	width:44px;
	height:27px;
	background:url(../img/invoice/invoice-btn_new.jpg);
	cursor:pointer;
}
#content_top{
	width:860px;
	height:95px;
}
#user_profile{
	float:left;
}
#user_avatar{
	width:52px;
	height:52px;
	float:left;
	padding:0 16px 12px 0;
}
#user_info{
	color:#485152;
	float: left;
}
#user_info ul li{
	margin-bottom:8px;
}
.user_sex{
	font-size:16px;
}
.user_name{
	font-size:24px;
	font-weight:bold;
}
.user_position{
	font-size:18px;
	font-weight:bold;
}
#customer_list{
	float:right;
}
#invoice_fillter{
	width:860px;
	min-height:127px;
}
.invoice_title{
	color:#a8682a;
	font-size:12px;
	font-weight:bold;
	height:20px;
}
.arrow_title{
	width:10px;
	height:10px;
	background:url(../img/invoice/invoice-arrow_title.png) no-repeat;
	margin-top:3px;
}
.down_arrow{
	width:19px;
	height:19px;
	background:url(../img/invoice/invoice-down_arrow.png) no-repeat;
	cursor:pointer;
}
.up_arrow{
	width:19px;
	height:19px;
	background:url(../img/invoice/invoice-up_arrow.jpg) no-repeat;
	cursor:pointer;
}
.invoice_title span{
	float:left;
}
#items_fillter{
	width:100%;
	height:87px;
	background:url(../img/invoice/invoice-shadown_fillter.png) no-repeat;
	float:left;
	padding-top:20px;
}
#items_fillter ul li{
	float:left;
	margin-right:2px;
	font-size:13px;
	font-weight:bold;
	width:123px;
	height:50px;
}
#items_fillter  a{
	font-size:11px;
}
#items_fillter  select{
	width:121px;
}
#items_fillter  input{
	width:110px;
}
.fillter_label{
	display: block;
	margin-bottom: 5px;
	width: 100%;
}
#invoice_amount label {
	color: #A8682A;
	font-weight: bold;
}
#slider-range{
	margin-top:-3px;
}
.btn_submit{
	width:57px;
	height:27px;
	background:url(../img/invoice/invoice-btn_submit.jpg);
	cursor:pointer;
	margin-top: 24px;
}
#input_data_fillter{
	width: 100%;
	display: none;
}
.input_data_label{
	font-size:13px;
	font-weight:bold;
	width:106px;
	float:left;
	line-height:28px;
	text-align:right;
	margin-right:14px;
}
#invoice_cases{
	height:252px;
	width:860px;
}

#search_btn {
	margin-left: 120px;
}

.invoice_pagination {
	float: right;	
}

.page {
	margin-right: 10px !important;
}
.page a{
	color:#0084cf !important;
}
.page a:hover{
	color:#0084cf !important;
}
.page li{
	float:left;
	width:20px;
	height:21px;
	padding:5px 0 0 13px;
	margin-right:2px;
}
.page li:hover{
	background-color:#f5f5f5;
	color:#0084cf !important;
}
.page .active{
	background-color:#f5f5f5;
	color:#999999 !important;
}
.page .active a{
	color:#999999 !important;
}
.page a{
	color:#0084cf;
	font-weight:bold;
	font-size:12px;
	text-decoration:none !important;
}
.page .prev{
	width:65px !important;
}
.page .prev:hover{
	background:none;
}
.page .prev a:hover{
	color:#ccd0d5 !important;
}
.page .next:hover{
	background:none;
}
.page .next a:hover{
	color:#ccd0d5 !important;
}
.page .disabled a{
	color:#d0cccc !important;
}
.page .disable{
	cursor:none;
}
#top_cases{
	width:100%;
	float:left;
	height:25px;
}
#top_cases .invoice_title{
	float:left;
}
#main_cases{
	width:100%;
	float:left;
}
#main_cases thead{
	height:41px;
	background:url(../img/invoice/invoice-bg_thead.jpg) repeat-x;
	font-size:13px;
	color:#444444;
	padding:0 38px 0 10px;
	line-height:37px;
}
#main_cases tbody{
	min-height:41px;
}

#main_cases th{
	text-align:left;
}
#main_cases tbody tr{
	height:40px;
	line-height:40px;
	font-size:13px;
	border-bottom:1px solid #eeeeee;
	width:861px;
}
#main_cases tbody a{
	color:#1d57a0;
	font-weight:bold;
	text-decoration:underline;
}
#invoice_detail{
	margin-top: 20px;
	width: 100%;
}
#boxes{
	width: 860px;
}
/*END INVOICE CSS */

/*BEGIN INVOICE EDIT CSS */

#item_list_header div {
	float: left;
	background: url(../img/invoice/invoice-bg_thead.jpg) repeat-x;
	color: #444444;
	font-size: 13px;
	font-weight: bold;
	line-height: 37px;
	height: 41px;
}

.invoice_item {
	border-bottom: 1px solid #f7f7f7;
}

.invoice_item div {
	float: left;
	margin-right: 1px;
}

.invoice_item_main div {
	float: left;
	margin-top: 15px;
}

.invoice_item .col-1 {
	padding: 6px;
	width: 16px;
}

.invoice_item .col-2 {
	width: 208px;
}

.invoice_item .col-3 {
	width: 347px;
}

.invoice_item .col-4 {
	width: 76px;
}

.invoice_item .col-5 {
	width: 69px;
}

.invoice_item .col-6 {
	cursor: auto;
	padding: 5px 0 0 5px;
	max-width: 80px;
}

.invoice_item .col-7 {
	width: 90px;
}

.invoice_item .col-8 {
	width: 90px;
}

.invoice_item .col-9 {
	width: 100px;
}

.invoice_item .col-10 {
	width: 100px;
}

.invoice_item .col-11 {
	width: 90px;
}

.invoice_item .col-12 {
	width: 158px;
}

.invoice_item input {
	margin-bottom: 1px;
}

.invoice_item input[type="checkbox"] {
	width: auto;
}

#title_item_edit{
	height:53px;
	width:860px;
	text-align:right;
	font-size:30px;
	color:#485152;
}
#input_data_info{
	background: url("../img/invoice/invoice-shadown_fillter.png") no-repeat scroll 0 0 transparent;
	height: auto;
	padding-top:25px;
	margin-top:5px;
}
.detail_product input{
	width:215px;
	margin-right:2px;
}
.detail_des input{
	width:343px;
	margin-right:2px;
}
.detail_unitprice input{
	width:72px;
	margin-right:2px;
}
.detail_qty input{
	width:65px;
}
.tr_detail{
	height:67px !important;
	line-height:67px !important;
}
#row_control ul {
	width:22px;
	padding-top:6px;
}
.row_delete{
	width:15px;
	height:15px;
	background: url("../img/invoice/invoice-delete_row.jpg") no-repeat scroll 0 0 transparent;
	cursor:pointer;
}
.row_move{
	width:13px;
	height:13px;
	background: url("../img/invoice/invoice-move.jpg") no-repeat scroll 1px 2px transparent;
	cursor:pointer;
}
.row_up{
	width:19px;
	height:19px;
	background: url("../img/invoice/invoice-up_arrow.jpg") no-repeat scroll -4px 0 transparent;
	cursor:pointer;
}
.row_down{
	width:19px;
	height:19px;
	background: url("../img/invoice/invoice-down_arrow.png") no-repeat scroll -4px 0 transparent;
	cursor:pointer;
}
#input_date input{
	width:101px;
	float:left;
}
#input_date select{
	width:119px;
	float:left;
	margin-right:2px;
}
#input_checkbox{
	float:left;
	margin-top:-20px;
}
#add_row{
	float:left;
	width: 186px;
	margin-left:29px;
}
#all_discount{
	float:left;
	padding-top: 5px;
	width: 405px;
}
#all_discount ul li{
	float:left;
	margin-right:15px;
}
#all_discount input, #all_discount select {
	width:100px;
	margin-top:-3px;
}
input {
	color:#4d4d4d;
}
#total_price{
	width:240px;
	height:168px;
	background-color:#f7f7f7;
	float:right;
	font-size:13px;
	color:#444444;
	padding-top: 6px;
}
#total_price ul li{
	width:100%;
	padding: 13px 0;
}
.total_label{
	width:125px;
	float:left;
	text-align:right;
}
.total_price{
	float:left;
	margin-left:23px ;
	display:inline;
	max-width: 90px;
}
#invoice_footer {
	float: left;
	padding-top: 15px;
}
#submit_all_page{
	text-align:right;
	padding-top:20px;
	float: right;
	width: 100%;
}
#invoice_note{
	float:left;
	width:100%;
	padding-top:20px;
}
#term_condition{
	float:left;
	width:420px;
}
#note_customer{
	float:left;
	width:420px;
	margin-left:17px;
	display:inline;
}
#term_condition_title{
	float:left;
	width: 270px;
}
#term_condition select{
	width:150px;
}
#invoice_note textarea{
	width:410px;
	height:195px;
}
#invoice_total input{
	font-style:italic;
	color:#8e9191;
}
#input_date input{
	font-style:italic;
	color:#8e9191;
}
/*END INVOICE EDIT CSS */

/*BEGIN INVOICE VIEW CSS */

#invoice-btn {
	height: 27px;
	width: 100%;
}

#invoice-btn button {
	float: right;
	margin-left: 10px;
}

.btn_pay {
	width: 47px;
	height: 27px;
	background: url(../img/invoice/invoice-view-btn_pay.jpg);
	cursor: pointer;
}
.btn_edit {
	width: 47px;
	height: 27px;
	background: url(../img/invoice/invoice-view-btn_edit.jpg);
	cursor: pointer;
}
.btn_email{
	width: 52px;
	height: 27px;
	background: url(../img/invoice/invoice-view-btn_email.jpg);
	cursor: pointer;
}
.btn_pdf{
	width: 42px;
	height: 27px;
	background: url(../img/invoice/invoice-view-btn_pdf.jpg);
	cursor: pointer;
}
.btn_print{
	width: 49px;
	height: 27px;
	background: url(../img/invoice/invoice-view-btn_print.jpg);
	cursor: pointer;
}

.bold {
	font-weight: bold !important;
}

#invoice_container {
	border: 1px solid #485152;
	margin-top: 17px;
	padding: 45px 25px 25px 25px;
	color: #444444;
}

#invoice_header {
	height: auto;
	width: 100%;
}

#company_info {
	float: left;
	width: 340px;
}

#company_name {
	font-size: 14px;
	font-weight: bold;
}

#company_address {
	font-size: 14px;
}

#invoice_title {
	float: left;
	font-size: 30px;
	font-weight: bold;
	margin-top: 6px;
}

#invoice_main {
	margin-top: 40px;
}

#bill_to {
	font-size: 12px;
	padding-left: 15px;
	width: 100%;
}

#customer_info {
	float: left;
	background-color: #eeeeee;
	margin-top: 5px;
	padding: 10px 15px;
	width: 350px;
}

#customer_name {
	font-size: 14px;
	font-weight: bold;
}

#invoice_info {
	float: right;
	margin: 5px 30px 0 0;
}

#invoice_info th {
	font-weight: normal;
	text-align: right;
}

#invoice_info td {
	font-size: 17px;
	font-weight: bold;
	padding: 5px 5px 5px 20px;
}

#invoice_item {
	margin-top: 15px;
	width: 100%;
}

#invoice_item thead {
	background-color: #eeeeee;
}

#invoice_item th {
	padding: 10px 8px;
	text-align: left;
}

#invoice_item td {
	padding: 25px 8px;
	text-align: left;
	border-bottom: 1px solid #f7f7f7;
}

#invoice_item .total {
	font-weight: bold;
}

#invoice_item .sub_desc {
	font-size: 10px;
	padding-top: 15px;
}

#total {
	float: right;
	margin: 10px 15px 0 0;
}

#total th {
	font-weight: normal;
	text-align: right;
}

#total td {
	padding: 8px 0 8px 20px;
}

#invoice_total {
	font-size: 18px;
}

#balance {
	font-size: 14px;
}

#other_info {
	float: left;
	margin-top: 25px;
	width: 100%;
}

#other_info div {
	width: 100%;
}

.info_title {
	font-weight: bold;
	margin-top: 30px;
}

.info_content {
	margin-top: 15px;
}

/*END INVOICE VIEW CSS */


