/**
 * Base Styles
 */

body {
  //background: #24A8FF;
  background: #555555 url(/resources/template/default_web/backgrounds/blue-rays-background-sm.jpg) center top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /*change*/
  //font: normal normal normal 12px/160% 'Lucida Grande', Verdana, sans-serif;
  //font: normal normal normal 12px/160% Arial;
  font-family: Arial;
  font-size: 12px;
  font-smooth: always;
}
body.bg01-png {
//  background: #555555 url(/resources/template/default_web/images/backgrounds/01.png) repeat 0 0;
/*change*/
  background: #fff;
}
body.bg02-png {
  background: #555555 url(/resources/template/default_web/images/backgrounds/02.png) repeat 0 0;
}
body.bg03-png {
  background: #555555 url(/resources/template/default_web/images/backgrounds/03.png) repeat 0 0;
}
body.bg04-png {
  background: #555555 url(/resources/template/default_web/images/backgrounds/04.png) repeat 0 0;
}
body.bg05-png {
  background: #555555 url(/resources/template/default_web/images/backgrounds/05.png) repeat 0 0;
}
.no-border {
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.leading {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
/**
 * Text Styles
 */
a {
  color: #0066ff;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
abbr, acronym {
  font-size: 85%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}
abbr[title], acronym[title], dfn[title] {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}
code,
kbd,
samp,
pre,
tt,
var,
.code {
  font-family: Monaco, 'Panic Sans', 'Lucida Console', 'Courier New', Courier, monospace, sans-serif;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 13px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1em 0;
}
h1, h2, h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000;
}
h4, h5, h6 {
  color: #444;
}
h5, h6 {
  font-weight: normal;
}
h6, p {
  color: #676767;
}
h1,
h2,
h3,
b,
strong,
caption,
th,
thead,
dt,
legend {
  font-weight: bold;
}
ul, ol {
  padding-left: 2em;
}
li ul,
li ol,
ul ul,
ol ol,
dl dd {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
}
small, sup, sub {
  font-size: 90%;
}
.code {
  background-color: #EAEFF4;
  color: #069;
  overflow: auto;
  padding: 2px 6px;
}
.al {
  text-align: left !important;
}
.ar {
  text-align: right !important;
}
.ac {
  text-align: center !important;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
/**
 * Login
 */
body.login {
  height: 0;
  overflow: hidden;
}
body.login .login-box {
  margin: 0 auto !important;
  margin-top: -110px !important;
  margin-left: -300px !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 600px;
  z-index: 999 !important;
}
body.login .login-box form {
  margin: 10px 0;
}
body.login .login-box form input[type=text], body.login .login-box form input[type=password] {
  margin: 0;
  width: 242px;
}
body.login .login-box form button.large {
  margin: 0;
}
body.login .login-box.main-content {
  min-height: 0;
}
/**
 * Header
 */

#wrapper {
  width: 100%;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
}

/**
 * Content
 */
.main-section {
//  -webkit-border-radius: 5px;
//  -moz-border-radius: 5px;
//  border-radius: 5px;
  /*change*/
  //-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  //-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
  position: relative;
  //background: #ffcc00;
  ///bottom: 10px;
}
.main-section > nav {
  //background: #777777 url(/resources/template/default_web/images/patterns/grains-10percent_black.png) repeat top left;
  /*change*/
  //background: #75C8FF;
  //background: #777;
  //-webkit-border-radius: 5px 0 0 5px;
  //-moz-border-radius: 5px 0 0 5px;
  //border-radius: 5px 0 0 5px;
  //padding-top: 10px;
  //margin-top: 10px;
  position: fixed;
  display: inline;
  //float: left;
  top: 50px;
  //bottom: 0;
  left: 5px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  transition-property: width;
  width: 150px;
  padding-left: 0px;
  padding-right: 0px;
}
.main-section > nav a.chevron {
  display: block;
  height: 22px;
  margin: -10px -10px 0 -10px;
  padding-right: 10px;
  text-indent: -999em;
  top: 30px;
  left: 16px;
  position: relative;
  float: left;
}
.main-section > nav a.chevron:hover {
    padding-left: 3px;
}
.main-section > nav a.chevron span {
  margin-left: -12px;
  position: absolute;
  top: 2px;
  left: 45%;
}

.main-section > nav + .main-content {
  margin-bottom: 0;
  margin-left: 150px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  transition-property: margin-left;
}
.main-section > nav.collapsed {
  width: 50px;
}

.main-section > nav.collapsed + .main-content {
  margin-left: 50px;
}

.main-content {
//  background: #fafafa url(/resources/template/default_web/images/patterns/grains-5percent_black.png) repeat top left;
//  background: rgba(255, 255, 255, 0.25);
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
  //margin-left: 10px;
  //padding-top: 0px;
  //margin-bottom: 20px;
  min-height: 200px;
  padding-top: 0px;
  //padding-left: 20px;
  //padding-right: 20px;
  padding-bottom: 10px;
}

.main-content > section.container_6 {
  padding-top: 0px; /* this is the spacing setting */
  overflow: hidden;
}

/**
 * Footer
 */
body > footer {
  //background: #75C8FF;
  //height: 30px;
  width: 100%;
  padding-bottom: 0px;
}
#footer-inner {
  margin-left: 60px;
}
#footer-inner, #footer-inner a {
  padding: 10px;
  color: #fff;
  font-size: 10px;
}
#footer-inner a {
  text-decoration: underline;
}
//#footer-inner .footleft {
//  margin-left: 160px;
//}
/**
 * Elements
 */
/* the overlayed element */
.apple_overlay {
  /* initially overlay is hidden */

  display: none;
  /* growing background image */

  background-image: url(/resources/template/default_web/images/overlay/white.png);
  /*
        width after the growing animation finishes
        height is automatically calculated
    */

  width: 640px;
  /* some padding to layout nested elements nicely  */

  padding: 35px;
  /* a little styling */
  font-size: 11px;
  z-index: 9999;
}
.apple_overlay .close {
  /* default close button positioned on upper right corner */

  background-image: url(/resources/template/default_web/images/close-icon.png);
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  z-index: 999;
}
.apple_overlay.black {
  background-image: url(/resources/template/default_web/images/overlay/transparent.png);
  color: #fff;
}
/**
 * Isotope
 */
ul.isotope-widgets {
  display: block;
  list-style: none;
  margin: -5px;
  padding: 0;
}
ul.isotope-widgets li {
  display: block;
  float: left;
  width: 204px;
  margin: 5px;
  position: relative;
}
ul.isotope-widgets li a {
  filter: none;
  zoom: 1;
  height: 100px;
}
ul.isotope-widgets li a.button-blue strong {
  //border-bottom: 1px solid #034462;
}
ul.isotope-widgets li a.button-blue span {
  color: #fff;
  text-shadow: 0 -1px 0 #034462;
}
ul.isotope-widgets li a.button-green strong {
  //border-bottom: 1px solid #561;
}
ul.isotope-widgets li a.button-green span {
  color: #fff;
  text-shadow: 0 -1px 0 #556611;
}
ul.isotope-widgets li a.button-orange strong {
  //border-bottom: 1px solid #d61;
}
ul.isotope-widgets li a.button-orange span {
  color: #fef4e9;
  text-shadow: 0 -1px 0 #dd6611;
}
ul.isotope-widgets li a.button-red strong {
  //border-bottom: 1px solid #a92c2c;
}
ul.isotope-widgets li a.button-red span {
  color: #fef4e9;
  text-shadow: 0 -1px 0 #a92c2c;
}
ul.isotope-widgets li a strong, ul.isotope-widgets li a span {
  color: #111;
  display: block;
  font-family: Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
ul.isotope-widgets li a strong {

  //border-bottom: 1px solid #999;
  font-size: 36px;
  font-weight: bold;
  line-height: 100%;
  //padding-bottom: 10px;
  text-align: center;
}
ul.isotope-widgets li a strong .unit {
  font-size: 16px;
  vertical-align: middle;
  line-height: 100%;
}
ul.isotope-widgets li a span {
  //border-top: 1px solid #fff;
  //border-top: 1px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}
ul.isotope-widgets li a:hover, ul.isotope-widgets li a:active {
  filter: none;
}
ul.isotope-widgets > li a {
  //-webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  //-moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  //box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 3px 5px #fff, inset -2px -2px 1px rgba(0, 0, 0, 0.2), 5px 12px 12px #777;
  -webkit-box-shadow: inset 1px 3px 5px #fff, inset -2px -2px 1px rgba(0, 0, 0, 0.2), 5px 12px 12px #777;
  -khtml-box-shadow: inset 1px 3px 5px #fff, inset -2px -2px 1px rgba(0, 0, 0, 0.2), 5px 12px 12px #777;
  box-shadow: inset 1px 3px 5px #fff, inset -2px -2px 1px rgba(0, 0, 0, 0.2), 5px 12px 12px #777;
  border: 0px;
  color: #111;
  display: block;
  padding: 10px;
  text-decoration: none;
}

ul.isotope-widgets > li a:hover{
  border: 0px;
}

/*** Isotope Contacts ***/
.isotope-contacts {
  display: block;
  list-style: none;
  margin: -5px;
  padding: 0;
}
.isotope-contacts li {
  -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.4), inset 0 -2px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: block;
  filter: none;
  float: left;
  margin: 5px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: left;
  width: 254px;
}
.isotope-contacts li div {
  overflow: hidden;
  white-space: nowrap;
}
.isotope-contacts li .city, .isotope-contacts li .email, .isotope-contacts li .bday {
  font-size: 10px;
}
.isotope-contacts li .photo {
  background: #373737;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#333333));
  background: -moz-linear-gradient(top, #444444, #333333);
  background: linear-gradient(top, #444444, #333333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#333333');
  -webkit-box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 3px #000000, 0 1px 1px #ffffff;
  float: left;
  height: 60px;
  margin-right: 10px;
  padding: 5px;
  width: 60px;
}
.isotope-contacts li .photo div {
  background: transparent url(/resources/template/default_web/images/navicons/111.png) no-repeat center center;
  height: 100%;
}
.isotope-contacts li .name {
  display: none;
}
.isotope-contacts li:hover, .isotope-contacts li:active {
  filter: none;
}
#isotope-contacts-filter {
  border-top-width: 0;
  padding: 15px;
}
#isotope-contacts-filter .ui-buttonset {
  margin-right: 0;
}
#isotope-contacts-index .ui-button-text, #isotope-contacts-sort .ui-button-text {
  padding: 5px 10px;
}
#isotope-contacts-index .ui-button {
  width: 27px;
}
#isotope-contacts-index .ui-button .ui-button-text {
  padding: 0;
  line-height: 26px;
}
#isotope-contacts-sort .ui-button .ui-button-text {
  line-height: 26px;
  padding: 0 10px;
}
/**** Isotope filtering ****/
.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  z-index: 2;
  -webkit-transition-property: transform, opacity;
  -moz-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.isotope .isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**
 * Themes
 */
#theme-colorschemes, #theme-backgrounds {
  display: block;
  padding: 0;
  margin: -6px;
  list-style-type: none;
}
#theme-colorschemes li, #theme-backgrounds li {
  cursor: pointer;
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 6px;
}
#theme-colorschemes li a, #theme-backgrounds li a {
  border: 1px solid #000;
  display: block;
  height: 100%;
}
#theme-colorschemes li a:hover, #theme-backgrounds li a:hover {
  border: 1px solid #039;
}
/**
 * Navicons
 */
.navicon-refresh {
  background-image: url(/resources/template/default_web/images/navicons/01.png);
}
.navicon-redo {
  background-image: url(/resources/template/default_web/images/navicons/02.png);
}
.navicon-loopback {
  background-image: url(/resources/template/default_web/images/navicons/03.png);
}
.navicon-squiggle {
  background-image: url(/resources/template/default_web/images/navicons/04.png);
}
.navicon-shuffle {
  background-image: url(/resources/template/default_web/images/navicons/05.png);
}
.navicon-magnify {
  background-image: url(/resources/template/default_web/images/navicons/06.png);
}
.navicon-map-marker {
  background-image: url(/resources/template/default_web/images/navicons/07.png);
}
.navicon-chat-1 {
  background-image: url(/resources/template/default_web/images/navicons/08.png);
}
.navicon-chat-2 {
  background-image: url(/resources/template/default_web/images/navicons/09.png);
}
.navicon-medical {
  background-image: url(/resources/template/default_web/images/navicons/10.png);
}
.navicon-clock {
  background-image: url(/resources/template/default_web/images/navicons/11.png);
}
.navicon-eye {
  background-image: url(/resources/template/default_web/images/navicons/12.png);
}
.navicon-target {
  background-image: url(/resources/template/default_web/images/navicons/13.png);
}
.navicon-tag {
  background-image: url(/resources/template/default_web/images/navicons/14.png);
}
.navicon-tags {
  background-image: url(/resources/template/default_web/images/navicons/15.png);
}
.navicon-line-chart {
  background-image: url(/resources/template/default_web/images/navicons/16.png);
}
.navicon-bar-chart {
  background-image: url(/resources/template/default_web/images/navicons/17.png);
}
.navicon-mail {
  background-image: url(/resources/template/default_web/images/navicons/18.png);
}
.navicon-gear-1 {
  background-image: url(/resources/template/default_web/images/navicons/19.png);
}
.navicon-gear-2 {
  background-image: url(/resources/template/default_web/images/navicons/20.png);
}
.navicon-gift {
  background-image: url(/resources/template/default_web/images/navicons/21.png);
}
.navicon-weather {
  background-image: url(/resources/template/default_web/images/navicons/22.png);
}
.navicon-star {
  background-image: url(/resources/template/default_web/images/navicons/23.png);
}
.navicon-heart {
  background-image: url(/resources/template/default_web/images/navicons/24.png);
}
.navicon-key {
  background-image: url(/resources/template/default_web/images/navicons/25.png);
}
.navicon-window {
  background-image: url(/resources/template/default_web/images/navicons/26.png);
}
.navicon-grid {
  background-image: url(/resources/template/default_web/images/navicons/27.png);
}
.navicon-layout {
  background-image: url(/resources/template/default_web/images/navicons/28.png);
}
.navicon-table {
  background-image: url(/resources/template/default_web/images/navicons/29.png);
}
.navicon-folder-open {
  background-image: url(/resources/template/default_web/images/navicons/30.png);
}
.navicon-ipod {
  background-image: url(/resources/template/default_web/images/navicons/31.png);
}
.navicon-iphone {
  background-image: url(/resources/template/default_web/images/navicons/32.png);
}
.navicon-cabinet {
  background-image: url(/resources/template/default_web/images/navicons/33.png);
}
.navicon-coffee {
  background-image: url(/resources/template/default_web/images/navicons/34.png);
}
.navicon-shopping {
  background-image: url(/resources/template/default_web/images/navicons/35.png);
}
.navicon-toolbox {
  background-image: url(/resources/template/default_web/images/navicons/36.png);
}
.navicon-suitcase {
  background-image: url(/resources/template/default_web/images/navicons/37.png);
}
.navicon-airplane {
  background-image: url(/resources/template/default_web/images/navicons/38.png);
}
.navicon-outbox {
  background-image: url(/resources/template/default_web/images/navicons/39.png);
}
.navicon-inbox {
  background-image: url(/resources/template/default_web/images/navicons/40.png);
}
.navicon-picture-frame {
  background-image: url(/resources/template/default_web/images/navicons/41.png);
}
.navicon-photos {
  background-image: url(/resources/template/default_web/images/navicons/42.png);
}
.navicon-film-roll {
  background-image: url(/resources/template/default_web/images/navicons/43.png);
}
.navicon-share {
  background-image: url(/resources/template/default_web/images/navicons/44.png);
}
.navicon-movie-1 {
  background-image: url(/resources/template/default_web/images/navicons/45.png);
}
.navicon-movie-2 {
  background-image: url(/resources/template/default_web/images/navicons/46.png);
}
.navicon-fuel {
  background-image: url(/resources/template/default_web/images/navicons/47.png);
}
.navicon-battery-1 {
  background-image: url(/resources/template/default_web/images/navicons/48.png);
}
.navicon-battery-2 {
  background-image: url(/resources/template/default_web/images/navicons/49.png);
}
.navicon-battery-3 {
  background-image: url(/resources/template/default_web/images/navicons/50.png);
}
.navicon-outlet {
  background-image: url(/resources/template/default_web/images/navicons/51.png);
}
.navicon-pine-tree {
  background-image: url(/resources/template/default_web/images/navicons/52.png);
}
.navicon-house {
  background-image: url(/resources/template/default_web/images/navicons/53.png);
}
.navicon-lock {
  background-image: url(/resources/template/default_web/images/navicons/54.png);
}
.navicon-network {
  background-image: url(/resources/template/default_web/images/navicons/55.png);
}
.navicon-cloud-upload {
  background-image: url(/resources/template/default_web/images/navicons/56.png);
}
.navicon-download {
  background-image: url(/resources/template/default_web/images/navicons/57.png);
}
.navicon-bookmark {
  background-image: url(/resources/template/default_web/images/navicons/58.png);
}
.navicon-flag {
  background-image: url(/resources/template/default_web/images/navicons/59.png);
}
.navicon-signpost {
  background-image: url(/resources/template/default_web/images/navicons/60.png);
}
.navicon-brightness {
  background-image: url(/resources/template/default_web/images/navicons/61.png);
}
.navicon-contrast {
  background-image: url(/resources/template/default_web/images/navicons/62.png);
}
.navicon-walk {
  background-image: url(/resources/template/default_web/images/navicons/63.png);
}
.navicon-export {
  background-image: url(/resources/template/default_web/images/navicons/64.png);
}
.navicon-import {
  background-image: url(/resources/template/default_web/images/navicons/65.png);
}
.navicon-microphone {
  background-image: url(/resources/template/default_web/images/navicons/66.png);
}
.navicon-vault {
  background-image: url(/resources/template/default_web/images/navicons/67.png);
}
.navicon-paperclip {
  background-image: url(/resources/template/default_web/images/navicons/68.png);
}
.navicon-display {
  background-image: url(/resources/template/default_web/images/navicons/69.png);
}
.navicon-tv {
  background-image: url(/resources/template/default_web/images/navicons/70.png);
}
.navicon-compass {
  background-image: url(/resources/template/default_web/images/navicons/71.png);
}
.navicon-pin {
  background-image: url(/resources/template/default_web/images/navicons/72.png);
}
.navicon-trash-bin {
  background-image: url(/resources/template/default_web/images/navicons/73.png);
}
.navicon-location {
  background-image: url(/resources/template/default_web/images/navicons/74.png);
}
.navicon-phone-1 {
  background-image: url(/resources/template/default_web/images/navicons/75.png);
}
.navicon-phone-2 {
  background-image: url(/resources/template/default_web/images/navicons/76.png);
}
.navicon-ekg {
  background-image: url(/resources/template/default_web/images/navicons/77.png);
}
.navicon-stopwatch {
  background-image: url(/resources/template/default_web/images/navicons/78.png);
}
.navicon-medical-bag {
  background-image: url(/resources/template/default_web/images/navicons/79.png);
}
.navicon-shopping-cart {
  background-image: url(/resources/template/default_web/images/navicons/80.png);
}
.navicon-dashboard {
  background-image: url(/resources/template/default_web/images/navicons/81.png);
}
.navicon-dog-paw {
  background-image: url(/resources/template/default_web/images/navicons/82.png);
}
.navicon-calendar {
  background-image: url(/resources/template/default_web/images/navicons/83.png);
}
.navicon-lightbulb {
  background-image: url(/resources/template/default_web/images/navicons/84.png);
}
.navicon-trophy {
  background-image: url(/resources/template/default_web/images/navicons/85.png);
}
.navicon-camera {
  background-image: url(/resources/template/default_web/images/navicons/86.png);
}
.navicon-wine-glass {
  background-image: url(/resources/template/default_web/images/navicons/87.png);
}
.navicon-beer-glass {
  background-image: url(/resources/template/default_web/images/navicons/88.png);
}
.navicon-dumbbells {
  background-image: url(/resources/template/default_web/images/navicons/89.png);
}
.navicon-lifebuoy {
  background-image: url(/resources/template/default_web/images/navicons/90.png);
}
.navicon-certificate {
  background-image: url(/resources/template/default_web/images/navicons/91.png);
}
.navicon-checkmark {
  background-image: url(/resources/template/default_web/images/navicons/92.png);
}
.navicon-checkbox-checked {
  background-image: url(/resources/template/default_web/images/navicons/93.png);
}
.navicon-printer {
  background-image: url(/resources/template/default_web/images/navicons/94.png);
}
.navicon-equalizer {
  background-image: url(/resources/template/default_web/images/navicons/95.png);
}
.navicon-book {
  background-image: url(/resources/template/default_web/images/navicons/96.png);
}
.navicon-puzzle-piece {
  background-image: url(/resources/template/default_web/images/navicons/97.png);
}
.navicon-palette {
  background-image: url(/resources/template/default_web/images/navicons/98.png);
}
.navicon-umbrella {
  background-image: url(/resources/template/default_web/images/navicons/99.png);
}
.navicon-link {
  background-image: url(/resources/template/default_web/images/navicons/100.png);
}
.navicon-push-pin {
  background-image: url(/resources/template/default_web/images/navicons/101.png);
}
.navicon-document {
  background-image: url(/resources/template/default_web/images/navicons/102.png);
}
.navicon-document-new {
  background-image: url(/resources/template/default_web/images/navicons/103.png);
}
.navicon-index-cards {
  background-image: url(/resources/template/default_web/images/navicons/104.png);
}
.navicon-piano {
  background-image: url(/resources/template/default_web/images/navicons/105.png);
}
.navicon-sliders {
  background-image: url(/resources/template/default_web/images/navicons/106.png);
}
.navicon-widescreen {
  background-image: url(/resources/template/default_web/images/navicons/107.png);
}
.navicon-badge {
  background-image: url(/resources/template/default_web/images/navicons/108.png);
}
.navicon-database {
  background-image: url(/resources/template/default_web/images/navicons/109.png);
}
.navicon-bug {
  background-image: url(/resources/template/default_web/images/navicons/110.png);
}
.navicon-user {
  background-image: url(/resources/template/default_web/images/navicons/111.png);
}
.navicon-group {
  background-image: url(/resources/template/default_web/images/navicons/112.png);
}
.navicon-navigation {
  background-image: url(/resources/template/default_web/images/navicons/113.png);
}
.navicon-podcast {
  background-image: url(/resources/template/default_web/images/navicons/114.png);
}
.navicon-rss-1 {
  background-image: url(/resources/template/default_web/images/navicons/115.png);
}
.navicon-rss-2 {
  background-image: url(/resources/template/default_web/images/navicons/116.png);
}
.navicon-todo {
  background-image: url(/resources/template/default_web/images/navicons/117.png);
}
.navicon-hanger {
  background-image: url(/resources/template/default_web/images/navicons/118.png);
}
.navicon-shield {
  background-image: url(/resources/template/default_web/images/navicons/119.png);
}
.navicon-headphone {
  background-image: url(/resources/template/default_web/images/navicons/120.png);
}
.navicon-landscape {
  background-image: url(/resources/template/default_web/images/navicons/121.png);
}
.navicon-stats {
  background-image: url(/resources/template/default_web/images/navicons/122.png);
}
.navicon-id-card {
  background-image: url(/resources/template/default_web/images/navicons/123.png);
}
.navicon-bullhorn {
  background-image: url(/resources/template/default_web/images/navicons/124.png);
}
.navicon-volume-high {
  background-image: url(/resources/template/default_web/images/navicons/125.png);
}
.navicon-volume-low {
  background-image: url(/resources/template/default_web/images/navicons/126.png);
}
.navicon-volume-mute {
  background-image: url(/resources/template/default_web/images/navicons/127.png);
}
.navicon-money {
  background-image: url(/resources/template/default_web/images/navicons/128.png);
}
.navicon-power {
  background-image: url(/resources/template/default_web/images/navicons/129.png);
}
.navicon-connected {
  background-image: url(/resources/template/default_web/images/navicons/130.png);
}
.navicon-tower {
  background-image: url(/resources/template/default_web/images/navicons/131.png);
}
.navicon-dollar {
  background-image: url(/resources/template/default_web/images/navicons/132.png);
}
.navicon-pound {
  background-image: url(/resources/template/default_web/images/navicons/133.png);
}
.navicon-x {
  background-image: url(/resources/template/default_web/images/navicons/134.png);
}
.navicon-minus {
  background-image: url(/resources/template/default_web/images/navicons/135.png);
}
.navicon-box {
  background-image: url(/resources/template/default_web/images/navicons/136.png);
}
.navicon-presentation {
  background-image: url(/resources/template/default_web/images/navicons/137.png);
}
.navicon-scales {
  background-image: url(/resources/template/default_web/images/navicons/138.png);
}
.navicon-menu {
  background-image: url(/resources/template/default_web/images/navicons/139.png);
}
.navicon-pulldown {
  background-image: url(/resources/template/default_web/images/navicons/140.png);
}
.navicon-lamp {
  background-image: url(/resources/template/default_web/images/navicons/141.png);
}
.navicon-wine-bottle {
  background-image: url(/resources/template/default_web/images/navicons/142.png);
}
.navicon-liquor-bottle {
  background-image: url(/resources/template/default_web/images/navicons/143.png);
}
.navicon-martini {
  background-image: url(/resources/template/default_web/images/navicons/144.png);
}
.navicon-persondot {
  background-image: url(/resources/template/default_web/images/navicons/145.png);
}
.navicon-gavel {
  background-image: url(/resources/template/default_web/images/navicons/146.png);
}
.navicon-controller {
  background-image: url(/resources/template/default_web/images/navicons/147.png);
}
.navicon-wrench-1 {
  background-image: url(/resources/template/default_web/images/navicons/148.png);
}
.navicon-wrench-2 {
  background-image: url(/resources/template/default_web/images/navicons/149.png);
}
.navicon-voicemail {
  background-image: url(/resources/template/default_web/images/navicons/150.png);
}
.navicon-calculator {
  background-image: url(/resources/template/default_web/images/navicons/151.png);
}
.navicon-receipt {
  background-image: url(/resources/template/default_web/images/navicons/152.png);
}
.navicon-newspaper {
  background-image: url(/resources/template/default_web/images/navicons/153.png);
}
.navicon-upload-photo-1 {
  background-image: url(/resources/template/default_web/images/navicons/154.png);
}
.navicon-upload-photo-2 {
  background-image: url(/resources/template/default_web/images/navicons/155.png);
}
.navicon-imac {
  background-image: url(/resources/template/default_web/images/navicons/156.png);
}
.navicon-macbook {
  background-image: url(/resources/template/default_web/images/navicons/157.png);
}
.navicon-ipad {
  background-image: url(/resources/template/default_web/images/navicons/158.png);
}
.navicon-building {
  background-image: url(/resources/template/default_web/images/navicons/159.png);
}
.navicon-notepad {
  background-image: url(/resources/template/default_web/images/navicons/160.png);
}
.navicon-sticky-note {
  background-image: url(/resources/template/default_web/images/navicons/161.png);
}
.navicon-hammer {
  background-image: url(/resources/template/default_web/images/navicons/162.png);
}
.navicon-warning {
  background-image: url(/resources/template/default_web/images/navicons/163.png);
}
.navicon-truck {
  background-image: url(/resources/template/default_web/images/navicons/164.png);
}
.navicon-pencil {
  background-image: url(/resources/template/default_web/images/navicons/165.png);
}
.navicon-paint-roller {
  background-image: url(/resources/template/default_web/images/navicons/166.png);
}
.navicon-bank {
  background-image: url(/resources/template/default_web/images/navicons/167.png);
}
.navicon-collection {
  background-image: url(/resources/template/default_web/images/navicons/168.png);
}
.navicon-credit-card {
  background-image: url(/resources/template/default_web/images/navicons/169.png);
}
.navicon-barcode {
  background-image: url(/resources/template/default_web/images/navicons/170.png);
}
/**
 * Misc
 */
ul.display-inline {
  display: block;
  list-style: none;
  padding: 0;
}
ul.display-inline li {
  display: inline-block;
}
