@import "main.css";
@import "style_caledar.css";
@import "jquery.fancybox-1.3.4.css";

img{
	border:0px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

*{
	margin: 0px;
	padding: 0px;
	outline: 0 none;
}

ul{ list-style: none outside none; }

.clearAll{ clear: both; font-size: 0px; width: 0px; height: 0px; }

.fontface{ font-family: 'Cuprum', Arial !important; font-size: 15px !important; color: #424242 !important; }

html, body{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
	background: url(../../images/admin/bodyBg.jpg);
}

/* CSS Phân trang */
.pagination{
	float: right;
	display: inline;
	margin-right: 10px;
	margin-top: 6px;
	margin-top: 7px\9;
	height: 18px;
}

.pag_normal{
	padding: 2px 6px;
	cursor: pointer;
	border: 1px solid #D5D5D5;
	font-size: 11px;
	line-height: 14px;
	background: #FAFAFA;
	color: #424242;
	margin-left: 3px;
	height: 19px;
}

.pag_normal:hover{
	border: 1px solid #00b3f1;
	color: #00b3f1;
}

.pag_disabled{
	opacity: 0.35; filter:alpha(opacity=35);
	cursor: default !important;
	color: #424242 !important;
	border: 1px solid #D5D5D5 !important;
}
/* End CSS Phân trang */

/* ===== Page scrolling ===== */

#toTop { display:none; text-decoration:none; position:fixed; bottom:8px; right:10px; overflow:hidden; width:21px; height:21px; border:none; text-indent:-999px; background:url(../../images/admin/icons/ui.totop.png) no-repeat left top; }
#toTopHover { background:url(../../images/admin/icons/ui.totop.png) no-repeat left -22px; width:21px; height:21px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }

/* ===== End Page scrolling ===== */

.topNav{
	position: fixed;
	top: 0;
	left: 0;
	height: 36px;
	width: 100%;
	background: url(../../images/admin/topNav.jpg) repeat-x;
	border-bottom: 1px solid #fff;
	z-index: 1;
}

.nameNav{
	float: left;
	display: inline;
	margin: 11px 0 0 10px;
	color: #eee;
	font-weight: bold;
}

.userNav{
	float: right;
	display: inline;
	margin-right: 10px;
	color: #eee;
	font-size: 11px;
}

.userNav ul li{
	float: left;
	border-left: 1px solid #2F2F2F;
	cursor: pointer;
}

.userNav ul li a{
	color: #eee;
}

.li_last_child{
	float: left;
	border-right: 1px solid #2F2F2F;
	cursor: pointer;
}

.userNav ul li:hover{
	background: #212121;
}

.userNav ul li img{
	float: left;
	padding: 12px 8px 13px 14px;
	display: inline;
}

.userNav ul li span{
	float: left;
	padding: 8px 14px 8px 0;
	display: inline;
	line-height: 20px;
}

.userNav ul li a span{
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
}

.profile img{
	float: left;
	padding: 8px 8px 8px 14px !important;
	display: inline;
}

.header{
	float: left;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 17px;
}

.logo{
	float: left;
	display: inline;
	margin-left: 10px;
}

.midNav{
	float: right;
	display: inline;
	margin-right: 10px;
}

.midNav ul li{
	float: left;
	display: block;
	margin-right: 15px;
	position: relative;
	text-align: center;
	behavior: url(static/css/PIE.htc);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: url(../../images/admin/middlebg.png) repeat-x;
	border: 1px solid #D5D5D5;
}

.midNav_last_child{
	margin-right: 0px !important;
}

.midNav ul li:hover{
	background: #f6f6f6;
}

.midNav ul li a{
	color: #595858;
}

.midNav ul li a:hover{
	text-decoration: none !important;
}

.midNav ul li span{
	padding: 34px 10px 3px 10px;
	float: left;
}

.midNav ul li a span{
	cursor: pointer;
}

.add_new{
	background: url(../../images/admin/icons/add.png) 50% 6px no-repeat;
}

.show_items{
	background: url(../../images/admin/icons/check.png) 50% 6px no-repeat;
}

.hide_items{
	background: url(../../images/admin/icons/close.png) 50% 6px no-repeat;
}

.delete_items{
	background: url(../../images/admin/icons/trash.png) 50% 6px no-repeat;
}

.save{
	background: url(../../images/admin/icons/save.png) 50% 6px no-repeat;
}

.back{
	background: url(../../images/admin/icons/back.png) 50% 6px no-repeat;
}

#content{
	float: left;
	width: 100%;
}

.footer{
	background: url(../../images/admin/topNav.jpg) repeat-x;
	color: #eee;
	margin-top: 40px;
	width: 100%;
	height: 38px;
	float: left;
}

.text_footer{
	display: block;
	padding: 12px 10px;
	color: #696969;
	font-size: 11px;
	float: left;
}

.text_footer a{
	color: #fff;
}

.left_content{
	width: 212px;
	margin: 0 25px 0 10px;
}

.left_content ul li{
	margin-top: 1px;
}

.left_content ul li a{
	display: block;
	background: url(../../images/admin/leftNavBg.png) repeat-x;
	color: #494949;
	font-size: 15px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #D5D5D5;
	font-family: 'Cuprum', Arial;
}

.left_content ul li a:hover, .left_content ul li a.active{
	background: url(../../images/admin/darkBg.jpg) repeat-x;
	color: #fff;
	border: 1px solid #3C4049;
	text-decoration: none;
}

.left_content ul li a span{
	display: block;
	padding: 10px 0 9px 35px;
}

.menu_dashboard{
	background: url(../../images/admin/icons/dashboard.png) 10px 50% no-repeat;
}

.menu_users{
	background: url(../../images/admin/icons/users.png) 10px 50% no-repeat;
}

.menu_setting{
	background: url(../../images/admin/icons/setting.png) 10px 50% no-repeat;
}

.menu_items{
	background: url(../../images/admin/icons/menu_items.png) 10px 50% no-repeat;
}

.right_content{
	margin-right: 10px;
}

.title{
	background: url(../../images/admin/darkBg.jpg) repeat-x;
	width: 100%;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 0 #FFFFFF;
	position: relative;
}

.title h5{
	color: #fafafa;
	font-size: 16px;
	font-family: 'Cuprum', Arial;
	padding: 8px 15px;
	font-weight: normal;
}

.table{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #D5D5D5;
	position: relative;
}

.head_table{
	background: url(../../images/admin/leftNavBg.png) repeat-x;
	height: 38px;
	border-bottom: 1px solid #D5D5D5;
}

.head_title_table{
	float: left;
	padding: 9px 12px 9px 35px;
	background: url(../../images/admin/icons/frames.png) 12px 50% no-repeat;
	font-family: 'Cuprum', Arial;
	font-size: 16px;
	color: #424242;
	text-transform: capitalize;
}

.head_title_edit{
	float: left;
	padding: 9px 12px 9px 35px;
	background: url(../../images/admin/icons/pencil.png) 12px 50% no-repeat;
	font-family: 'Cuprum', Arial;
	font-size: 16px;
	color: #424242;
	text-transform: capitalize;
}

.content_table{
	width: 100%;
}

.content_table table th{
	font-size: 11px;
	color: #878787;
	font-weight: normal;
	padding: 4px 0;
	cursor: pointer;
	line-height: 20px;
	border-right: 1px solid #D5D5D5;
}

.content_table table th .jqTransformCheckboxWrapper{
	margin-left: 8px;
	margin-top: 0px;
}

.content_table table td .jqTransformCheckboxWrapper{
	margin-left: 8px;
	margin-top: 0px;
}

.content_table table td{
	font-weight: normal;
	padding: 8px 10;
	line-height: 20px;
	border-right: 1px solid #D5D5D5;
	border-top: 1px solid #D5D5D5;
	padding: 8px 10px;
}

.td_relative{
	position: relative;
}

.action{
	width: 32px;
	height: 16px;
	background: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
	position: absolute;
	top: -10px;
	left: -10px;
	display: none;
}

.action img{
	float: left;
	display: block;
	cursor: pointer;
	padding: 3px 4px;
}

.action_first{
	padding-right: 0 !important;
}

.first_action{
	padding-right: 0 !important;
}

.content_table table td a{
	color: #00b3f1;
}

.td_action:hover .action{
	display: block;
}

.row1{
	background: #fafafa;
}

.row2{
	background: #f5f5f5;
}

.row1:hover, .row2:hover{
	background: #fffccc;
}

.row_active{
	background: #fffccc;
}

.td_center{
	text-align: center;
}

.td_no_padd{
	padding: 0 !important;
}

.th_left{
	text-align: left;
	padding: 4px 0 4px 10px !important;
}

.th_last{
	border-right: 0 none !important;
}

.th_no_cursor{
	cursor: auto !important;
}

.icon_no_sort{
	margin-right: 6px;
	background: url(../../images/admin/icons/no_sort.png) right center no-repeat;
}

.icon_sort_asc{
	margin-right: 6px;
	background: url(../../images/admin/icons/sort_asc.png) right center no-repeat;
}

.icon_sort_desc{
	margin-right: 6px;
	background: url(../../images/admin/icons/sort_desc.png) right center no-repeat;
}

.head_search{
	float: right;
	display: inline;
	margin-right: 10px;
}

.head_search_title{
	float: left;
	display: inline;
	margin: 12px 5px 0 0;
	font-size: 11px;
	color: #878787;
}

.head_search_input{
	float: left;
	position: relative;
}

.head_search_input input{
	float: left;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #D5D5D5;
	position: relative;
	color: #878787;
	padding: 3px 5px;
	font-size: 11px;
	margin-top: 8px;
	width: 56px;
	display: inline;
	margin-right: 5px;
}

.input_last{
	width: 177px !important;
	margin-right: 0 !important;
	padding-right: 18px !important;
}

.bt_search{
	width: 20px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 0;
	display: block;
	padding: 5px 0 2px;
	*padding: 7px 0 6px;
}

.footer_table{
	width: 100%;
	height: 30px;
	background: url(../../images/admin/leftNavBg.png) repeat-x;
	border-top: 1px solid #d5d5d5;
}

.item_per_page{
	float: left;
	color: #878787;
	font-size: 11px;
	display: inline;
	margin: 8px 5px 0 10px;
}

.select_per_page{
	float: left;
	margin-top: 6px;
}

.select_per_page select{
	height: 25px !important;
	width:50px !important;
}

.custom_select{
	width: 57px;
	height: 20px;
}

.row_text_field_first{
	padding: 15px 10px 15px 10px;
}

.row_text_field{
	padding: 15px 10px 15px 10px;
	border-top: 1px solid #d5d5d5;
}

.left_text_field{
	width: 150px;
	text-align: left;
}

.right_text_field{
	text-align: left;
	padding-right: 12px;
}

.right_text_field input[type="text"]{
	border: 1px solid #D5D5D5;
	font-size: 11px;
	width: 100%;
	padding: 5px;
}

.right_text_field input[type="password"]{
	border: 1px solid #D5D5D5;
	font-size: 11px;
	width: 100%;
	padding: 5px;
}

.right_text_field textarea{
	border: 1px solid #D5D5D5;
	font-size: 11px;
	width: 100%;
	padding: 5px;
}

#ajax_loadContent{
	width: 100%;
	text-align: center;
}

.loading{
	padding: 50px 0;
}