/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, sans-serif; color: #222; }
body { margin: 0; }

::-moz-selection { background: #777; color: #fff; text-shadow: none; }
::selection { background: #777; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

html, body {
	background: #fff;
	height:100%;
}


/* most used noon frame css */
.fl { float: left } .fr { float: right }
/*padding all*/
.pa5 { padding:5px } .pa10 { padding:10px } .pa15 { padding:15px } .pa20 { padding:20px }
/*padding top*/
.pt1{padding-top:1px} .pt2{padding-top:2px} .pt3{padding-top:3px} .pt4{padding-top:4px} .pt5{padding-top:5px} .pt10{padding-top:10px} .pt15{padding-top:15px} .pt20{padding-top:20px} 
/*padding right*/
.pr5{padding-right:5px} .pr10{padding-right:10px} .pr15{padding-right:15px} .pr20{padding-right:20px} .pr25 { padding-right: 25px; }
/*padding bottom*/
.pb5{padding-bottom:5px} .pb10{padding-bottom:10px} .pb15{padding-bottom:15px} .pb20{padding-bottom:20px}
/*padding left*/
.pl5{padding-left:5px} .pl10{padding-left:10px} .pl15{padding-left:15px} .pl20{padding-left:20px} .pl25{padding-left:25px;} .pl30{padding-left:30px;}
/*padding left + right */
.ph5{padding-left:5px;padding-right:5px} .ph10{padding-left:10px;padding-right:10px} .ph15{padding-left:15px;padding-right:15px} .ph20{padding-left:20px;padding-right:20px}
/*padding top + bottom */
.pv1{padding-top:1px;padding-bottom:1px} .pv5{padding-top:5px;padding-bottom:5px} .pv10{padding-top:10px;padding-bottom:10px} .pv15{padding-top:15px;padding-bottom:15px} .pv20{padding-top:20px;padding-bottom:20px}
/*margin all*/
.ma5{margin:5px} .ma10{margin:10px} .ma15{margin:15px} .ma20{margin:20px}
/*margin top*/
.mt1{margin-top:1px} .mt2{margin-top:2px} .mt3{margin-top:3px} .mt4{margin-top:4px} .mt5{margin-top:5px} .mt6{margin-top:6px}  .mt7{margin-top:7px} .mt8{margin-top:8px} .mt9{margin-top:9px}   .mt10{margin-top:10px} .mt12{margin-top:12px}  .mt13{margin-top:13px} .mt15{margin-top:15px} .mt20{margin-top:20px} .mt25{margin-top:25px}  
/*margin right*/
.mr1{margin-right:1px} .mr5{margin-right:5px} .mr10{margin-right:10px}  .mr9{margin-right:9px} .mr15{margin-right:15px} .mr20{margin-right:20px} 
/*margin bottom*/
.mb0 {margin-bottom:0px} .mb5 {margin-bottom:5px} .mb10{margin-bottom:10px} .mb15{margin-bottom:15px} .mb20{margin-bottom:20px} .mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}
/*margin left*/
.ml5{margin-left:5px} .ml10{margin-left:10px} .ml15{margin-left:15px} .ml20{margin-left:20px} .ml30{margin-left:30px} .ml-1{margin-left:-1px;}
/*margin left + right*/
.mh5{margin-left:5px;margin-right:5px} .mh10{margin-left:10px;margin-right:10px} .mh15{margin-left:15px;margin-right:15px} .mh20{margin-left:20px;margin-right:20px}
.mha{margin-left:auto; margin-right:auto;}
/*margin top + right*/
.mv5{margin-top:5px;margin-bottom:5px} .mv10{margin-top:10px;margin-bottom:10px} .mv15{margin-top:15px;margin-bottom:15px} .mv20{margin-top:20px;margin-bottom:20px}
/*font style*/
.fwn{font-weight:normal} .fwb{font-weight:bold} .fsi { font-style: italic } 
/*text style*/
.tac { text-align: center } .tal { text-align: left } .tar { text-align: right } .taj{text-align: justify} .ttu { text-transform: uppercase; } .ttc{text-transform: capitalize;} .tdu{text-decoration:underline;} .tdn{text-decoration:none; &:hover { text-decoration:none }} 
.ti9{ text-indent: -9999px; } .tsd{text-shadow: 1px 1px 0px #999;}
/*display style*/
.dpn { display:none } .dpb { display:block } .dpi { display:inline } .dpib { display:inline-block }
/*position style*/
.por { position: relative } .poa { position: absolute } .pof { position: fixed } 
/*overflow*/
.ofh{overflow:hidden;} .ofa{overflow:auto;} 
/* color */
.cf1 { color: #555; }
.cf2 { color: #887938; }
.cf3 { color: #fff; }
.cf4 { color: #444 }
.cf5 { color: #5e6363 } /* xam */
.cf6 { color: #a29563 } /* nau */
/* background */
.bg1 { background: #c6c6c6; }
.bg2 { background: #ee9d4e; }
.bg3 { background: #fff; }
.bg4 { background: #acb1b1; }
/* font size */
.fs10 { font-size: 10px }   .fs11 { font-size: 11px }  .fs12 { font-size: 12px }  .fs14 { font-size: 14px } 
.h47 { height:47px; } .h50 { height:50px; }
.lhn{ line-height: normal; }
.cp{ cursor: pointer; }
/* width */
 .w230 { width: 230px }  .w190 { width: 190px; }.w120 { width: 120px; } .w50 { width: 50px; } .w40 { width: 40px; } .w18 { width: 18px; }  
 .w100p { width: 100%; } .w90p { width: 90%; } .w80p { width: 80%; } .w75p { width: 75%; } .w70p { width: 70%; } .w15p { width: 15%; }
/* rounded */
.rounded7 { border-radius: 7px;  -moz-border-radius: 7px;  -webkit-border-radius: 7px;}
.rounded14 { border-radius: 14px;  -moz-border-radius: 14px;  -webkit-border-radius: 14px;}
.rounded20 { border-radius: 20px;  -moz-border-radius: 20px;  -webkit-border-radius: 20px;}


/* Header */

header, footer, div#main {
	left: 0;
	right: 0;
	margin: auto;
}

header {
	height: 60px;
	top: 0;
	position:fixed;
	background: #e1e1e1;
	z-index: 11;
	padding-right: 30px;
}

header .logoSpace {
	padding: 20px 0 0 20px;
}

.logoSpace a {
	font-weight: bold;
	font-size: 23px;
	color: #c4c4c4;
	text-transform: uppercase;
	text-decoration: none;
}

header .rightMenu {
	float: right;
}

header .rightMenu {
	padding-top: 12px;
	position: relative;
	width: 328px;
}

header .rightMenu .optionsDropdownList {
	background: #fff8e0;
	border: 1px solid #ede4c5;
	width: 120px;
	-webkit-box-shadow:  0px 0px 5px 0px #cccccc;
    box-shadow:  0px 0px 5px 0px #cccccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
	z-index: 100;
}

.optionsDropdownPadder {
	padding: 10px;
	position: absolute;
	left: 117px;
	top: 30px;
	display: none;
	z-index: 10;
}

.optionsDropdownList label {
	display: inline-block;
	padding: 1px 0 0 1px;
}

header .rightMenu .dropdownAvatar .userDropdownList {
	background: #fff8e0;
	border: 1px solid #ede4c5;
	width: 120px;
	-webkit-box-shadow:  0px 0px 5px 0px #cccccc;
    box-shadow:  0px 0px 5px 0px #cccccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin-right: 25px;
}

header .rightMenu .dropdownAvatar .userDropdownPadding {
	position: absolute;
	right: -50px;
	top: 20px;
	z-index: 100;
	padding: 20px;
	display: none;
}

header .rightMenu .dropdownAvatar .userDropdownList a {
	color: #aea38b;
	font-size: 12px;
	display: block;
	border-bottom: 1px solid #ebe5d2;
	text-decoration: none;
	padding: 6px 5px 6px 30px;
}

header .rightMenu .dropdownAvatar .userDropdownList a:hover {
	color: #67562e;
}

header .rightMenu .dropdownAvatar .userDropdownList a.settings {
	background: url(../img/sprite-1.png) no-repeat -318px -8px;
}

header .rightMenu .dropdownAvatar .userDropdownList a.support {
	background: url(../img/sprite-1.png) no-repeat -318px -35px;
}

header .rightMenu .dropdownAvatar .userDropdownList a.logout {
	background: url(../img/sprite-1.png) no-repeat -318px -60px;
}


header .rightMenu .dropdownAvatar .userDropdownList a.settings:hover {
	background: url(../img/sprite-1.png) no-repeat -318px -85px;
}

header .rightMenu .dropdownAvatar .userDropdownList a.support:hover {
	background: url(../img/sprite-1.png) no-repeat -319px -112px;
}

header .rightMenu .dropdownAvatar .userDropdownList a.logout:hover {
	background: url(../img/sprite-1.png) no-repeat -319px -137px;
}

header .rightMenu .optionsDropdownList .arrow, header .rightMenu .dropdownAvatar .userDropdownList .arrow {
	background: url(../img/sprite-1.png) no-repeat -220px -32px;
	position: absolute;
	top: 5px;
	left: 65px;
	width: 14px;
	height: 10px;
}

header .rightMenu .dropdownAvatar .userDropdownList .arrow {
	top: -1px;
	left: 98px;
}

header .rightMenu .optionsDropdownList ul, header .rightMenu .userDropdownList ul {
	list-style: none;
	margin: 0;
	padding: 5px 0;
}

header .rightMenu .optionsDropdownList ul li {
	padding: 2px 6px;
}

header .rightMenu .optionsDropdownList ul li label{
	font-size: 13px;
	color: #aea38b;
	font-family: "Lato", sans-serif;
}

header .rightMenu .userDropdownList ul {
	padding: 0;
}

header .rightMenu .userDropdownList ul li {
	padding: 0;
}

header .rightMenu .userDropdownList ul li a.last {
	border-bottom: none;
}

header .rightMenu .searchInput {
	color: white!important;
	font-style: normal;
	text-transform: uppercase;
	font-size: 12px!important;
	border: none;
	height: 36px;
	padding: 0 16px 0 10px;
	position: absolute;
	left: 224px;
	background: #8f8f8f;
	background: -moz-linear-gradient(top, #8f8f8f 0%, #707070 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f8f8f), color-stop(100%,#707070));
	background: -webkit-linear-gradient(top, #8f8f8f 0%,#707070 100%);
	background: -o-linear-gradient(top, #8f8f8f 0%,#707070 100%);
	background: -ms-linear-gradient(top, #8f8f8f 0%,#707070 100%);
	background: linear-gradient(top, #8f8f8f 0%,#707070 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8f8f', endColorstr='#707070',GradientType=0 );
	-webkit-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
	-webkit-box-shadow: inset 3px 3px 5px 0px #777777;
  box-shadow: inset 3px 3px 5px 0px #777777;
        
}

header .rightMenu .search {
	border: 2px solid #b5b5b5;
	background: #dddddd url(../img/searchIcon.png) no-repeat 0px -5px;
	height: 30px;
	padding: 0 0 2px 33px;
	width: 188px;
	font-size: 14px;
	color: #848484;
	outline: none;
	position: absolute;
	left: 0;
	-webkit-box-shadow: inset 3px 3px 10px 0px #c3c3c3;
	box-shadow: inset 3px 3px 10px 0px #c3c3c3;
	-webkit-border-radius: 20px 0px 0px 20px;
	border-radius: 20px 0px 0px 20px;
}

header .rightMenu .optionsDropdownOpener {
	font-size: 11px;
	text-decoration: none;
	color: #a2a2a2;
	padding-right: 14px;
	position: absolute;
	left: 165px;
	top: 22px;
	background: url(../img/sprite-1.png) no-repeat -129px -128px;
}

header .rightMenu .dropdownAvatar {
	position: absolute;
	right: 0;
	top: 13px;
}

header .rightMenu .dropdownAvatar img {
	float: left;
	cursor: pointer;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

header .rightMenu .dropdownAvatar .arrow {
	width: 10px;
	height: 4px;
	background: url(../img/sprite-1.png) no-repeat -170px -134px;
	float: left;
	margin: 16px 0 0 3px;
}

/* Main */
#main {
	padding: 60px 25px 50px 88px;
	//min-height: 100%;
	//border-right:20px solid #e1e1e1; 
}

#mainFixed {
	width: 860px;
	margin-left: auto;
    margin-right: auto;
}

#main-rightbar {
	background: #e1e1e1;
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 20px;
}

#menubar {
	background: #e1e1e1;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 80px;
}

#main-ctr {
	position: fixed;
	background: url(../img/sprite-1.png) no-repeat -263px -234px;
	width: 5px;
	height: 4px;
	top: 60px;
	right: 20px;
	z-index:13;
}

#main-cbr {
	position: fixed;
	background: url(../img/sprite-1.png) no-repeat -284px -241px;
	width: 5px;
	height: 4px;
	bottom: 50px;
	right: 20px;
	z-index:13;
}

#main-ctl {
	position: fixed;
	background: url(../img/sprite-1.png) no-repeat -224px -234px;
	width: 5px;
	height: 4px;
	top: 60px;
	left: 20px;
	z-index:13;
}


.likeMain {
	//background: #e1e1e1;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0;
	width: 88px;
	margin-top: 60px;
	margin-bottom: 50px;
	overflow-y: hidden;
	overflow-x: hidden;
	background:#e1e1e1 url(../img/menubarBackground.jpg) 20px 0px repeat-y;
}

.tabsNavigation {
	//background: url(../img/sprite-1.png) no-repeat -263px -234px;
	width: 78px;
	overflow-y: hidden;
	overflow-x: hidden;
	//position: absolute;
	//bottom: 0;
	//top: 0;
	//left: auto;
	//right: auto;
	padding: 0px 0px 0px 10px;
	z-index:12;	
}

.tabsNavigation ul {
	list-style: none;
	//margin: 0;
	padding: 0px 0px 0px 20px;
}

.tabsNavigation .spacer {
	height: 20px;
}

/* Custom scrollbar for the apps navigation*/
.nano .content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 ;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano .content::-webkit-scrollbar {
  -webkit-appearance: none;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 5px;
  right      : 5px;
  top        : 0px;
  bottom     : 0;
  margin: 0 0 0 0;
  visibility : hidden\9;
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -ms-transition        : .2s;
  -o-transition         : .2s;
  transition            : .2s;
}
.nano > .pane > .slider {
  background: rgba(0,0,0,.5);
  position              : relative;
}
.nano:hover > .pane, .pane.active {
  visibility : visible\9;
  opacity    : 1;
}
/* End custom scrollbar for the apps navigation*/

@-moz-document url-prefix() { 
	.tabsNavigation {
		width: 97px;
		left: -920px;
	}
	
	.nano > .pane {
		right: 0;
		background : rgba(255,255,255,.15);
	}
	
	.nano > .pane > .slider {
		background: rgba(255,255,255,.5);
	}
}

#bottomMenus {
	position: absolute;
	background: url(../img/sprite-1.png) no-repeat -222px -185px;
	width: 70px;
	height: 25px;
	margin: 0;
	padding: 18px 0 0 0px;
	left: 18px;
	bottom: 0px;
	list-style: none;
	z-index:13;
}

a.appsIconBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 55px;
	height: 15px;
	margin: 0;
	bottom: 75px;
	left: -880px;
	right: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 99;
	cursor: s-resize;
}

a.appsIconTop {
	position: absolute;
	left: 0;
	width: 55px;
	height: 15px;
	margin: 0;
	top: 60px;
	left: -880px;
	cursor: n-resize;
	right: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 99;
}

#bottomMenus a {
	background: url(../img/sprite-1.png) no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 6px 0 0 12px;
}

#bottomMenus a.history {
	background-position: -108px -179px;
}

#bottomMenus a.favorites {
	background-position: -128px -178px;
}

#bottomMenus a:hover, #bottomMenus a.active {
	background-position-y: -227px;
}

.tabsNavigation li.viewer span {
	background: url(../img/sprite-1.png) no-repeat -27px -224px;
	color: #656f71;
	font-size: 7px;
	display: block;
	width: 54px;
	height: 26px;
	padding: 6px 0 0 26px;
}

.tabsNavigation li {
	list-style: none;
	background: url(../img/menubarSeparator.png) bottom repeat-x;
	position: relative;
	height: 65px;
}

.tabsNavigation li:last-of-type {
	background: none;
}

.tabsNavigation li.viewer {
	background: none;
	height: 26px;
}

.tabsNavigation li a {
	display: block;
	width: 58px;
	padding: 43px 0 0 5px;
	background: url(../img/appicons.png) no-repeat;
	font-family: "Lato", sans-serif;
	font-weight:normal;
	font-size: 9px;
	line-height: 18px;
	color: white;
	text-align: center;
	text-decoration: none;
	color: #ABB0B1;
}

.tabsNavigation li a:hover {
	color: #D9DDDD;
}

.tabsNavigation li.active .activeTab {
	position: absolute;
	background: url(../img/appicons.png) no-repeat -0px -0px;
	width: 82px;
	height: 70px;
	left: -14px;
	z-index:99;
}

.tabsNavigation li.active .activeTab a {
	background-position-x: -45px;
	color: #485152;
	margin-left: 15px;
}

.tabsNavigation li a {
	text-transform: uppercase;
	background-position: 10px -100px;
}

.tabsNavigation li a.home {
	background-position: 10px -100px;
}

.tabsNavigation li a.activity {
	background-position: 10px -100px;
}

.tabsNavigation li a.calendar {
	background-position: 10px -100px;
}

.tabsNavigation li a.addressbook {
	background-position: 10px -100px;
}

.box {
	padding-top: 10px;
}

.boxHalf {
	width: 420px;
	float: left;
}

.box .input_data_label{font-weight: normal;font-style: normal;color: #787878; line-height: 24px;width: 106px;float: left;text-align: right;margin-right: 14px; font-size:12px}

.box .fillter_input{font-weight: bold; font-size: 12px;color: #787878; display:block; padding-top:4px}

.box.left {
	margin-right: 20px;
}

.subtitleContent {
	//padding-left: 10px;
	padding-bottom: 20px;
}

.subtitle {
	color: #a8682a;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	//padding-left: 10px;
	line-height: 12px;
	height: 34px;
	background: url(../img/boxTitleBackground860.png) no-repeat center 0px;
	//margin-bottom: 20px;
	//margin-bottom: 10px;
}

.subtitle-noshadow {
	color: #a8682a;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	//padding-left: 10px;
	line-height: 12px;
	height: 22px;
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 5px;
}

.subtitle-half {
	color: #a8682a;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	//padding-left: 10px;
	line-height: 12px;
	height: 34px;
	background: url(../img/boxTitleBackground.png) no-repeat center 0px;
	//margin-bottom: 20px;
}

.subtitle-half-noshadow {
	color: #a8682a;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	//padding-left: 10px;
	line-height: 12px;
	height: 22px;
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 5px;
}

.subtitle-arrow {
	display: inline-block;
	background: url(../img/sprite-1.png) no-repeat -11px -421px;
	width: 8px;
	height: 10px;
	margin-right: 3px;
	position: relative;
	top: 1px;
}

.timeline.allUpdates {
	display: none;
}

.timeline .entry {
	padding: 15px 0 13px 0;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
}

.timeline .viewAll {
	color: #939393;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.timeline .viewAll:hover {
	text-decoration: underline;
}

.timeline .entry img {
	float: left;
	margin-right: 6px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.timeline .entry .notAvailable {
	position: absolute;
	width: 12px;
	height: 12px;
	background: url(../img/sprite-1.png) no-repeat -170px -229px;
	display: block;
	left: 20px;
}

.timeline .entry .info {
	float: left;
}

.timeline .entry .info, .timeline .entry .info a {
	color: #4f5455;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.timeline .entry .info a:hover {
	text-decoration: underline;
}

.timeline .entry .info span {
	font-weight: normal;
	color: #7c8182;
}

.timeline .entry .info .time {
	color: #b0b0b0;
	font-weight: normal;
	font-size: 11px;
}

.timeline .entry .info .greenStatus {
	color: #168d3a;
	font-weight: bold;
}

.timeline .entry .info .redStatus {
	color: #8d1616;
	font-weight: bold;
}

.timeline .profileCard, .profileCard {
	border: 1px solid #ebebeb;
	width: 290px;
	height: 45px;
	position: relative;
	margin-top: 7px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow:  1px 1px 1px 0px #cccccc;
	box-shadow:  1px 1px 1px 0px #cccccc;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
	background: linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.staff .profileCard {
	width: 210px;
}

.profileCard .zipDeco, .profileCard .zipDeco {
	width: 3px;
	background: url(../img/sprite-1.png) no-repeat -173px -163px;
	height: 55px;
	position: absolute;
	top: 0;
	left: 47px;
}

.timeline .profileCard .info .viewProfileButton {
	background: #bfbfbf;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	font-weight: normal;
	padding: 1px 3px;
	position: absolute;
	left: 150px;
	width: 70px;
	top: 15px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.timeline .profileCard .info .viewProfileButton:hover {
	text-decoration: none;
}

.timeline .profileCard img, .profileCard img {
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}

.timeline .profileCard .info .name, .profileCard .info .name {
	color: #4f5455;
	font-weight: bold;
	padding-top: 10px;
	line-height: 12px;
	font-size: 12px;
}

.profileCard .info {
	position: absolute;
	left: 56px;
	top: 0;
}

.profileCard .info .name a {
	color: #4f5455;
	text-decoration: none;
}

.profileCard .info .name a:hover {
	text-decoration: underline;
}

.timeline .profileCard .info .location, .profileCard .info .location {
	color: #7f8384;
	font-weight: normal;
	font-size: 11px;
}

.upcomingEvents .calendarNumber {
	background: url(../img/sprite-1.png) no-repeat -263px -23px;
	width: 24px;
	font-size: 13px;
	padding-top: 4px;
	height: 20px;
	color: white;
	font-weight: bold;
	float: left;
	text-align: center;
	margin-left: 5px;
}

.upcomingEvents .info {
	float: left;
	padding-left: 6px;
}

.recentlyViewed .entry {
	float: left;
	width: 48%;
}

.recentlyViewed .entry.left {
	margin-right: 4%;
}

.recentlyViewed .entry .icon, .timeline .entry .icon {
	background: url(../img/sprite-1.png) no-repeat;
	width: 35px;
	height: 28px;
	float: left;
	text-align: center;
	position: relative;
	top: 0px;
}

.recentlyViewed .icon.activityIcon, .timeline .icon.activityIcon {
	background-position: -8px -72px;
}

.recentlyViewed .icon.calendarIcon, .timeline .icon.calendarIcon {
	background-position: -8px -121px;
}

.recentlyViewed .icon.contactsIcon, .timeline .icon.contactsIcon {
	background-position: -8px -172px;
}

.checkbox, .radio {
	width: 16px;
	height: 16px;
	padding: 0 5px 5px 0;
	background: url(../img/checkboxes.png) no-repeat;
	display: block;
	clear: left;
	float: left;
	margin-top: 3px;
}

.actioncancel {
	color: #999;
	font-size: 11px;
	background: no-repeat;
	border: none;
	padding: 0;
	padding: 6px 0 0 0;
	text-decoration: none;
}

.actioncancel a {
	color: #999;
	text-decoration: underline;
}






/* Basic 8F Elements */
#breadcrumb {
	padding: 15px 0 20px 0;
}

#breadcrumb .select {
	margin-right: 8px;
	top: 33px;
}

#breadcrumb .rightBar {
	float: right;
	padding: 8px 0px 0 0;
}

#breadcrumb .rightBar a{
	color: #FFFFFF;
}

#breadcrumb .rightBar a.mainLink {
	background: #485152;
	color: #dee6e8;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10px;
	padding: 8px 14px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
}

#breadcrumb .simple, #settings .top-setting span.simple {
	color: #808080;
	font-size: 13px;
	text-decoration: none;
	position: relative;
	top: -8px;
}

#breadcrumb span.arrow, #settings .top-setting span.arrow {
	display: inline-block;
	width: 4px;
	height: 18px;
	margin: 0 10px;
	position: relative;
	top: -3px;
	background: url(../img/breadcrumbArrow.jpg) no-repeat;
}

#breadcrumb span.arrowBack, #settings .top-setting span.arrowBack {
	display: inline-block;
	width: 4px;
	height: 18px;
	margin: 0 15px;
	position: relative;
	top: -3px;
	background: url(../img/breadcrumbArrowBack.png) no-repeat;
}

#breadcrumb a.main, #settings .top-setting .title {
	color: #485152;
	font-size: 35px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background: url(../img/breadcrumbUnderline.jpg)	repeat-x bottom;
	line-height: 45px;
	font-family: "Lato";
	font-weight: lighter;
}

		
 	
		
#quickjump{
	padding-bottom:5px;
}
#quickjump .quickjump_card .quickjump_avatar{
	//width:52px;
	//height:52px;
	float:left;
	margin: 3px 15px 10px 3px;
	//padding:0 16px 12px 0;
}
#quickjump .quickjump_card .quickjump_info{
	color:#485152;
}
#quickjump .quickjump_card .quickjump_info ul li{
	margin-bottom:4px;
}
#quickjump .quickjump_card .quickjump_info .quickjump_title{
	font-size:14px;
}
#quickjump .quickjump_card .quickjump_info .quickjump_name{
	font-size:24px;
	font-weight:bold;
}
#quickjump .quickjump_card .quickjump_info .quickjump_co{
	font-size:18px;
	font-weight:bold;
}
#quickjump .quickjump_card .quickjump_info .quickjump_position{
	font-weight:normal;
}
#quickjump .quickjump_select{
	float:right;
	margin:3px;
}

/* View */

.dataV {
	color: #666;
	line-height: 32px;
}

.dataVL {
}

.dataVT {
	float: left;
	min-width: 120px;
	max-width: 220px;
	width: 20%;
	font-size: 12px;
	font-weight: normal;
	text-align: right;
	padding-right: 10px;	
}

.dataVD {
	font-size: 13px;
	font-weight: bold;	
}

.dataF {
	color: #666;
	line-height: 32px;	
}

.dataFL {
}

.dataFT {
	float: left;
	min-width: 120px;
	max-width: 220px;
	width: 20%;
	font-size: 12px;
	font-weight: normal;
	text-align: right;
	padding-right: 10px;	
}

.dataFD {
	font-size: 13px;
	font-weight: bold;	
}

input[type=text], textarea {
	background: white;
	border: 1px solid #f5f5f5;
	color: #ababab!important;
	font-size: 14px!important;
	font-weight: normal;
	font-style: italic;
	padding: 6px;
	font-family: "Helvetica", sans-serif;
	-webkit-box-shadow: inset 1px 1px 4px 0px #cccccc;      
	box-shadow: inset 1px 1px 4px 0px #cccccc;
}

input:focus,
textarea:focus {
  border-color: rgba(168, 104, 42, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(168, 104, 42, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(168, 104, 42, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(168, 104, 42, 0.6);
}

.rightPanel input.xlarge {
	font-size: 25px!important;
	padding: 10px 8px;
	font-weight: 100!important;
}

form select {
	font-size: 13px;
}

.inputs-list input {
	float: left;
}

.inputs-list span {
	display: inline-block;
	padding-left: 5px;
	color: #999;
	font-size: 12px;
}

form.form-stacked label {
	display: block;
	float: none;
	text-align: left;
	width: auto;
}

/* Footer */
footer {
	height: 50px;
	position: fixed;
	bottom: 0;
	background: #e1e1e1;
	z-index:11;
}

footer.smallOne {
	position: inherit;
	padding-top: 3px;
	width: 315px;
	margin: auto;
}

footer .logo {
	display: block;
	width: 150px;
	height: 27px;
	background: url(../img/poweredby.png) no-repeat;
	margin: 10px 0 0 20px;
	float: left;
}

footer .links {
	float: left;
	padding: 14px 0 0 20px;
	font-family: "Lato", sans-serif;
}

footer .links a {
	color: #999;
	font-size: 11px;
	text-decoration: none;
	margin-right: 10px;
}

footer .links a:hover {
	color: #555;
}