/* 
	ONLY USED FOR IE7 + IE9 
*/
ul.titanmenu > li{
    filter:none;
}
.tm-black > li{
	background:none;
    background-image:url(../images/ie9/black.png);
	background-repeat:repeat;
}
.tm-lightgrey > li{
	background:none;
    background-image:url(../images/ie9/lightgrey.png);
	background-repeat:repeat;
}
.tm-darkblue > li{
	background:none;
    background-image:url(../images/ie9/darkblue.png);
	background-repeat:repeat;
}
.tm-lightblue > li{
	background:none;
    background-image:url(../images/ie9/lightblue.png);
	background-repeat:repeat;
}
.tm-red > li{
	background:none;
    background-image:url(../images/ie9/red.png);
	background-repeat:repeat;
}
.tm-orange > li{
	background:none;
    background-image:url(../images/ie9/orange.png);
	background-repeat:repeat;
}
.tm-green > li{
	background:none;
    background-image:url(../images/ie9/green.png);
	background-repeat:repeat;
}
.tm-darkgrey > li{
	background:none;
    background-image:url(../images/ie9/darkgrey.png);
	background-repeat:repeat;
}
.tm-darkgrey > li{
	background:none;
    background-image:url(../images/ie9/darkgrey.png);
	background-repeat:repeat;
}
.tm-violet > li{
	background:none;
    background-image:url(../images/ie9/violet.png);
	background-repeat:repeat;
}
.tm-purple > li{
	background:none;
    background-image:url(../images/ie9/purple.png);
	background-repeat:repeat;
}
.tm-brown > li{
	background:none;
    background-image:url(../images/ie9/brown.png);
	background-repeat:repeat;
}












