/* 
	COLOR SETTINGS: DARKGREY
*/

.tm-darkgrey > li{
	background:#528037;/* fallback color */
    background-image: -moz-linear-gradient(#858585,#555555);/* Firefox 3.6+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#858585), to(#555555));/* Safari 4+, Chrome 1+ */
	background-image: -webkit-linear-gradient(#858585, #555555);/* Safari 5.1+, Chrome 10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#858585, endColorstr=#555555);/* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#858585, endColorstr=#555555)";/* IE8 */
	background-image: -o-linear-gradient(#858585, #555555);/* Opera 11.10+ */
}
.tmbutton .tm-darkgrey > li{
	border:1px solid #444444;
}
.tmbar .tm-darkgrey > li{
	border-right:1px solid #444444;
}
.tmbar .tm-darkgrey{
	border:1px solid #444444;
	border-right:none;
}
.tmstack .tm-darkgrey{
	border:1px solid #444444;
}
.tm-darkgrey > li > a{
	color:#cccccc;
}
.tmbar .tm-darkgrey > li.nosplit > a,
.tmbar .tm-darkgrey > li.split > a{
	border-right:none;
}
.tmbutton .tm-darkgrey > li:hover{
	-moz-box-shadow: 0 0 5px #444444;
	-webkit-box-shadow: 0 0 5px #444444;
	box-shadow: 0 0 5px #444444;
	border:1px solid #333333;
}
.tm-darkgrey > li > a:hover,
.tm-darkgrey > li.split > a:hover,
.tm-darkgrey > li.nosplit:hover > a{
	color:#ffffff;
}
.tm-darkgrey > li > div > span{
	background:#555555;
	border-left:1px solid #444444;
}
.tmstack .tm-darkgrey > li > div > span{
	background:none;
	border-left:none;
}
.tm-darkgrey > li > div > span span{
	border-top: 5px solid #777777;
}
.tmstack .tm-darkgrey > li > div > span span{
	border-left: 5px solid #888888;
}
.tm-darkgrey > li.tmprofile > div:hover > span span,
.tm-darkgrey > li.split > div:hover > span span,
.tm-darkgrey > li.nosplit:hover > div > span span{
	border-top: 5px solid #ffffff;
}
.tmstack .tm-darkgrey > li.split > div:hover > span span,
.tmstack .tm-darkgrey > li.nosplit:hover > div > span span{
	border-left: 5px solid #ffffff;
}
.tm-darkgrey li ul{
	border:1px solid #444444;
	-moz-box-shadow: 0 0px 4px #666666;
	-webkit-box-shadow: 0 0px 4px #666666;
	box-shadow: 0 0px 4px #666666;
}
.tm-darkgrey li ul li{
	background-color:#cccccc;
}
.tm-darkgrey li ul a{
	color:#ffffff;
	background:#666666;
	border-left:1px solid #ffffff;	
}
.tm-darkgrey li ul li:hover > a,
.tm-darkgrey ul li.tmgodown > ul > li:hover > a{
	background-color:#555555;
	-moz-box-shadow: 0 0 0px;
	-webkit-box-shadow: 0 0 0px;
	box-shadow: 0 0 0px;
	color:#ffffff;
}
.tm-darkgrey li ul li:hover,
.tm-darkgrey ul li.tmgodown > ul > li:hover{
	background-color:#ffffff;
}
.tm-darkgrey li ul li.sep{
	border-top:1px solid #333333;
	border-bottom:1px solid #cccccc;
}
.tm-darkgrey ul > li > a > span{
	border-left: 5px solid #cccccc;
}
.tm-darkgrey ul > li:hover > a > span{
	border-left: 5px solid #ffffff;
}
.tm-darkgrey ul li.tmgodown > ul > li{
	background-color:#999999;	
}
.tm-darkgrey ul li.tmgodown > ul > li > a{
	color:#ffffff;
	background:#444444;
	border-left:1px solid #ffffff;	
}	
.tm-darkgrey li.tmgodown > a > span,
.tm-darkgrey li.tmgodown > a > span > span{
	background:#cccccc;
}	
.tm-darkgrey li.tmgodown:hover > a > span,
.tm-darkgrey li.tmgodown:hover > a > span > span{
	background:#ffffff;
}		
.tm-darkgrey li.tmgodown > ul > li.sep{
	border-top:1px solid #222222;
	border-bottom:1px solid #999999;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	