/* 
	COLOR SETTINGS: ORANGE
*/

.tm-green > li{
	background:#528037;/* fallback color */
    background-image: -moz-linear-gradient(#79a85a,#528037);/* Firefox 3.6+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#79a85a), to(#528037));/* Safari 4+, Chrome 1+ */
	background-image: -webkit-linear-gradient(#79a85a, #528037);/* Safari 5.1+, Chrome 10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#79a85a, endColorstr=#528037);/* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#79a85a, endColorstr=#528037)";/* IE8 */
	background-image: -o-linear-gradient(#79a85a, #528037);/* Opera 11.10+ */
}
.tmbutton .tm-green > li{
	border:1px solid #365623;
}
.tmbar .tm-green > li{
	border-right:1px solid #365623;
}
.tmbar .tm-green{
	border:1px solid #365623;
	border-right:none;
}
.tmstack .tm-green{
	border:1px solid #365623;
}
.tm-green > li > a{
	color:#c7ffa2;
}
.tmbar .tm-green > li.nosplit > a,
.tmbar .tm-green > li.split > a{
	border-right:none;
}
.tmbutton .tm-green > li:hover{
	-moz-box-shadow: 0 0 5px #385822;
	-webkit-box-shadow: 0 0 5px #385822;
	box-shadow: 0 0 5px #385822;
	border:1px solid #263d18;
}
.tm-green > li > a:hover,
.tm-green > li.split > a:hover,
.tm-green > li.nosplit:hover > a{
	color:#ffffff;
}
.tm-green > li > div > span{
	background:#79a85a;
	border-left:1px solid #528037;
}
.tmstack .tm-green > li > div > span{
	background:none;
	border-left:none;
}
.tm-green > li > div > span span{
	border-top: 5px solid #528037;
}
.tmstack .tm-green > li > div > span span{
	border-left: 5px solid #466d2f;
}
.tm-green > li.tmprofile > div:hover > span span,
.tm-green > li.split > div:hover > span span,
.tm-green > li.nosplit:hover > div > span span{
	border-top: 5px solid #ffffff;
}
.tmstack .tm-green > li.split > div:hover > span span,
.tmstack .tm-green > li.nosplit:hover > div > span span{
	border-left: 5px solid #ffffff;
}
.tm-green li ul{
	border:1px solid #365623;
	-moz-box-shadow: 0 0px 4px #666666;
	-webkit-box-shadow: 0 0px 4px #666666;
	box-shadow: 0 0px 4px #666666;
}
.tm-green li ul li{
	background-color:#b0db94;
}
.tm-green li ul a{
	color:#ffffff;
	background:#79a85a;
	border-left:1px solid #ffffff;	
}
.tm-green li ul li:hover > a,
.tm-green ul li.tmgodown > ul > li:hover > a{
	background-color:#547b3b;
	-moz-box-shadow: 0 0 0px;
	-webkit-box-shadow: 0 0 0px;
	box-shadow: 0 0 0px;
	color:#ffffff;
}
.tm-green li ul li:hover,
.tm-green ul li.tmgodown > ul > li:hover{
	background-color:#ffffff;
}
.tm-green li ul li.sep{
	border-top:1px solid #365623;
	border-bottom:1px solid #e4ffd2;
}
.tm-green ul > li > a > span{
	border-left: 5px solid #e9ffdb;
}
.tm-green ul > li:hover > a > span{
	border-left: 5px solid #ffffff;
}
.tm-green ul li.tmgodown > ul > li{
	background-color:#78b94d;	
}
.tm-green ul li.tmgodown > ul > li > a{
	color:#ffffff;
	background:#446230;
	border-left:1px solid #ffffff;	
}	
.tm-green li.tmgodown > a > span,
.tm-green li.tmgodown > a > span > span{
	background:#e9ffdb;
}	
.tm-green li.tmgodown:hover > a > span,
.tm-green li.tmgodown:hover > a > span > span{
	background:#ffffff;
}		
.tm-green li.tmgodown > ul > li.sep{
	border-top:1px solid #1a2a10;
	border-bottom:1px solid #d7ffbc;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	