/*
	COLOR SETTINGS: LIGHTGREY
*/

.tm-lightgrey > li{
	background:#eeeeee;/* fallback color */
    background-image: -moz-linear-gradient(#ffffff,#eeeeee);/* Firefox 3.6+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));/* Safari 4+, Chrome 1+ */
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee);/* Safari 5.1+, Chrome 10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#eeeeee);/* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#eeeeee)";/* IE8 */
	background-image: -o-linear-gradient(#ffffff, #eeeeee);/* Opera 11.10+ */
}
.tmbutton .tm-lightgrey > li{
	border:1px solid #cccccc;
}
.tmbar .tm-lightgrey > li{
	border-right:1px solid #cccccc;
}
.tmbar .tm-lightgrey{
	border:1px solid #cccccc;
	border-right:none;
}
.tmstack .tm-lightgrey{
	border:1px solid #cccccc;
}
.tm-lightgrey > li > a{
	color:#000;
}
.tmbar .tm-lightgrey > li.nosplit > a,
.tmbar .tm-lightgrey > li.split > a{
	border-right:none;
}
.tmbutton .tm-lightgrey > li:hover{
	-moz-box-shadow: 0 0 5px #ababab;
	-webkit-box-shadow: 0 0 5px #666666;
	box-shadow: 0 0 5px #666666;
	border:1px solid #888888;
}
.tm-lightgrey > li > a:hover,
.tm-lightgrey > li.split > a:hover,
.tm-lightgrey > li.nosplit:hover > a{
	color:#333333;
}
.tm-lightgrey > li > div > span{
	background:#eee;
	border-left:1px solid #d7d7d7;
}
.tmstack .tm-lightgrey > li > div > span{
	background:none;
	border-left:none;
}
.tm-lightgrey > li > div > span span{
	border-top: 5px solid #bbbbbb;
}
.tmstack .tm-lightgrey > li > div > span span{
	border-left: 5px solid #bbbbbb;
}
.tm-lightgrey > li.tmprofile > div:hover > span span,
.tm-lightgrey > li.split> div:hover > span span,
.tm-lightgrey > li.nosplit:hover > div > span span{
	border-top: 5px solid #333333;
}
.tmstack .tm-lightgrey > li.split > div:hover > span span,
.tmstack .tm-lightgrey > li.nosplit:hover > div > span span{
	border-left: 5px solid #333333;
}
.tm-lightgrey li ul{
	border:1px solid #999999;
	-moz-box-shadow: 0 0px 4px #aaa;
	-webkit-box-shadow: 0 0px 4px #aaa;
	box-shadow: 0 0px 4px #aaa;
}
.tm-lightgrey li ul li{
	background-color:#eee;
}
.tm-lightgrey li ul a{
	color:#444;
	background:#ffffff;
	border-left:1px solid #999999;
}
.tm-lightgrey li ul li:hover > a,
.tm-lightgrey ul li.tmgodown > ul > li:hover > a{
	background-color:#eee;
	border-left:1px solid #999!important;
	-moz-box-shadow: 0 0 0px;
	-webkit-box-shadow: 0 0 0px;
	box-shadow: 0 0 0px;
}
.tm-lightgrey ul li.tmgodown > ul > li:hover > a{
	border-left:1px solid #999!important;
}
.tm-lightgrey li ul li:hover,
.tm-lightgrey  ul li.tmgodown > ul > li:hover{
	background-color:#ffffff;
}
.tm-lightgrey li ul li.sep{
	border-top:1px solid #bbbbbb;
	border-bottom:1px solid #ffffff;
}
.tm-lightgrey ul > li > a span,
.tm-lightgrey ul > li:hover > a span{
	border-left: 5px solid #999999;
}
.tm-lightgrey ul li.tmgodown > ul > li{
	background-color:#eee;	
}
.tm-lightgrey ul li.tmgodown > ul > li > a{
	color:#333333;
	background:#ddd;
	border-left:1px solid #999999;
}	
.tm-lightgrey li.tmgodown > a > span,
.tm-lightgrey li.tmgodown > a > span > span{
	background:#999999;
}	
.tm-lightgrey li.tmgodown:hover > a > span,
.tm-lightgrey li.tmgodown:hover > a > span > span{
	background:#565656;
}		
.tm-lightgrey li.tmgodown > ul > li.sep{
	border-top:1px solid #999999;
	border-bottom:1px solid #ffffff;
}