/* 
	COLOR SETTINGS: PURPLE
*/

.tm-purple > li{
	background:#5a005a;/* fallback color */
    background-image: -moz-linear-gradient(#9a009a,#5a005a);/* Firefox 3.6+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9a009a), to(#5a005a));/* Safari 4+, Chrome 1+ */
	background-image: -webkit-linear-gradient(#9a009a, #5a005a);/* Safari 5.1+, Chrome 10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#9a009a, endColorstr=#5a005a);/* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#9a009a, endColorstr=#5a005a)";/* IE 8 */
	background-image: -o-linear-gradient(#9a009a, #5a005a);/* Opera 11.10+ */
}
.tmbutton .tm-purple > li{
	border:1px solid #2b002b;
}
.tmbar .tm-purple > li{
	border-right:1px solid #2b002b;
}
.tmbar .tm-purple{
	border:1px solid #2b002b;
	border-right:none;
}
.tmstack .tm-purple{
	border:1px solid #2b002b;
}
.tm-purple > li > a{
	color:#ffbfe7;
}
.tmbar .tm-purple > li.nosplit > a,
.tmbar .tm-purple > li.split > a{
	border-right:none;s
}
.tmbutton .tm-purple > li:hover{
	-moz-box-shadow: 0 0 5px #333333;
	-webkit-box-shadow: 0 0 5px #333333;
	box-shadow: 0 0 5px #333333;
	border:1px solid #000000;
}
.tm-purple > li > a:hover,
.tm-purple > li.split > a:hover,
.tm-purple > li.nosplit:hover > a{
	color:#ffffff;
}
.tm-purple > li > div > span{
	background:#6e006e;
	border-left:1px solid #430043;
}
.tmstack .tm-purple > li > div > span{
	background:none;
	border-left:none;
}
.tm-purple > li > div > span span{
	border-top: 5px solid #360036;
}
.tmstack .tm-purple > li > div > span span{
	border-left: 5px solid #360036;
}
.tm-purple > li.tmprofile > div:hover > span span,
.tm-purple > li.split > div:hover > span span,
.tm-purple > li.nosplit:hover > div > span span{
	border-top: 5px solid #ffffff;
}
.tmstack .tm-purple > li.split > div:hover > span span,
.tmstack .tm-purple > li.nosplit:hover > div > span span{
	border-left: 5px solid #ffffff;
}
.tm-purple li ul{
	border:1px solid #440044;
	-moz-box-shadow: 0 0px 4px #666666;
	-webkit-box-shadow: 0 0px 4px #666666;
	box-shadow: 0 0px 4px #666666;
}
.tm-purple li ul li{
	background-color:#d75dd7;
}
.tm-purple li ul a{
	color:#ffffff;
	background:#650065;
	border-left:1px solid #ffaee1;	
}
.tm-purple li ul li:hover > a,
.tm-purple ul li.tmgodown > ul > li:hover > a{
	background-color:#a900a9;
	-moz-box-shadow: 0 0 0px;
	-webkit-box-shadow: 0 0 0px;
	box-shadow: 0 0 0px;
	color:#ffffff;
}
.tm-purple li ul li:hover,
.tm-purple ul li.tmgodown > ul > li:hover{
	background-color:#ffffff;
}
.tm-purple li ul li.sep{
	border-top:1px solid #222222;
	border-bottom:1px solid #ff92d6;
}
.tm-purple ul > li > a > span{
	border-left: 5px solid #ffa7de;
}
.tm-purple ul > li:hover > a > span{
	border-left: 5px solid #ffffff;
}
.tm-purple ul li.tmgodown > ul > li{
	background-color:#b64a8e;	
}
.tm-purple ul li.tmgodown > ul > li > a{
	color:#ffffff;
	background:#420042;
	border-left:1px solid #ffb0ff;	
}	
.tm-purple li.tmgodown > a > span,
.tm-purple li.tmgodown > a > span > span{
	background:#ffa7de;
}	
.tm-purple li.tmgodown:hover > a > span,
.tm-purple li.tmgodown:hover > a > span > span{
	background:#ffffff;
}		
.tm-purple li.tmgodown > ul > li.sep{
	border-top:1px solid #111111;
	border-bottom:1px solid #ffb0ff;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	