/* 
	COLOR SETTINGS: RED
*/

.tm-red > li{
	background:#480000;/* fallback color */
    background-image: -moz-linear-gradient(#7b0404,#480000);/* Firefox 3.6+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7b0404), to(#480000));/* Safari 4+, Chrome 1+ */
	background-image: -webkit-linear-gradient(#7b0404, #480000);/* Safari 5.1+, Chrome 10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#7b0404, endColorstr=#480000);/* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#7b0404, endColorstr=#480000)";/* IE 8*/
	background-image: -o-linear-gradient(#7b0404, #480000);/* Opera 11.10+ */
}
.tmbutton .tm-red > li{
	border:1px solid #320000;
}
.tmbar .tm-red > li{
	border-right:1px solid #320000;
}
.tmbar .tm-red{
	border:1px solid #320000;
	border-right:none;
}
.tmstack .tm-red{
	border:1px solid #320000;
}
.tm-red > li > a{
	color:#ffc6c6;
}
.tmbar .tm-red > li.nosplit > a,
.tmbar .tm-red > li.split > a{
	border-right:none;
}
.tmbutton .tm-red > li:hover{
	-moz-box-shadow: 0 0 5px #3b0505;
	-webkit-box-shadow: 0 0 5px #3b0505;
	box-shadow: 0 0 5px #3b0505;
	border:1px solid #1d0000;
}
.tm-red > li > a:hover,
.tm-red > li.split > a:hover,
.tm-red > li.nosplit:hover > a{
	color:#ffffff;
}
.tm-red > li > div > span{
	background:#730000;
	border-left:1px solid #340000;
}
.tmstack .tm-red > li > div > span{
	background:none;
	border-left:none;
}
.tm-red > li > div > span span{
	border-top: 5px solid #340000;
}
.tmstack .tm-red > li > div > span span{
	border-left: 5px solid #340000;
}
.tm-red > li.tmprofile > div:hover > span span,
.tm-red > li.split > div:hover > span span,
.tm-red > li.nosplit:hover > div > span span{
	border-top: 5px solid #ffffff;
}
.tmstack .tm-red > li.split > div:hover > span span,
.tmstack .tm-red > li.nosplit:hover > div > span span{
	border-left: 5px solid #ffffff;
}
.tm-red li ul{
	border:1px solid #4f0000;
	-moz-box-shadow: 0 0px 4px #666666;
	-webkit-box-shadow: 0 0px 4px #666666;
	box-shadow: 0 0px 4px #666666;
}
.tm-red li ul li{
	background-color:#bc4646;
}
.tm-red li ul a{
	color:#ffffff;
	background:#7a0303;
	border-left:1px solid #e78282;	
}
.tm-red li ul li:hover > a,
.tm-red ul li.tmgodown > ul > li:hover > a{
	background-color:#9d1414;
	-moz-box-shadow: 0 0 0px;
	-webkit-box-shadow: 0 0 0px;
	box-shadow: 0 0 0px;
	color:#ffffff;
}
.tm-red li ul li:hover,
.tm-red ul li.tmgodown > ul > li:hover{
	background-color:#ffffff;
}
.tm-red li ul li.sep{
	border-top:1px solid #5f0000;
	border-bottom:1px solid #e78282;
}
.tm-red ul > li > a > span{
	border-left: 5px solid #ff9898;
}
.tm-red ul > li:hover > a > span{
	border-left: 5px solid #ffffff;
}
.tm-red ul li.tmgodown > ul > li{
	background-color:#9d1414;	
}
.tm-red ul li.tmgodown > ul > li > a{
	color:#ffffff;
	background:#5f0000;
	border-left:1px solid #e78282;	
}	
.tm-red li.tmgodown > a > span,
.tm-red li.tmgodown > a > span > span{
	background:#ff9898;
}	
.tm-red li.tmgodown:hover > a > span,
.tm-red li.tmgodown:hover > a > span > span{
	background:#ffffff;
}		
.tm-red li.tmgodown > ul > li.sep{
	border-top:1px solid #2b0000;
	border-bottom:1px solid #e78282;
}	
