/* 
	COLOR SETTINGS: VIOLET
*/

.tm-violet > li{
	background:#C71585;/* fallback color */
    background-image: -moz-linear-gradient(#f537ae,#C71585);/* Firefox 3.6+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f537ae), to(#C71585));/* Safari 4+, Chrome 1+ */
	background-image: -webkit-linear-gradient(#f537ae, #C71585);/* Safari 5.1+, Chrome 10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f537ae, endColorstr=#C71585);/* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f537ae, endColorstr=#C71585)";/* IE 8 */
	background-image: -o-linear-gradient(#f537ae, #C71585);/* Opera 11.10+ */
}
.tmbutton .tm-violet > li{
	border:1px solid #900d5f;
}
.tmbar .tm-violet > li{
	border-right:1px solid #900d5f;
}
.tmbar .tm-violet{
	border:1px solid #900d5f;
	border-right:none;
}
.tmstack .tm-violet{
	border:1px solid #900d5f;
}
.tm-violet > li > a{
	color:#ffbfe7;
}
.tmbar .tm-violet > li.nosplit > a,
.tmbar .tm-violet > li.split > a{
	border-right:none;
}
.tmbutton .tm-violet > li:hover{
	-moz-box-shadow: 0 0 5px #861c5f;
	-webkit-box-shadow: 0 0 5px #861c5f;
	box-shadow: 0 0 5px #861c5f;
	border:1px solid #56113c;
}
.tm-violet > li > a:hover,
.tm-violet > li.split > a:hover,
.tm-violet > li.nosplit:hover > a{
	color:#ffffff;
}
.tm-violet > li > div > span{
	background:#e32e9f;
	border-left:1px solid #aa1f76;
}
.tmstack .tm-violet > li > div > span{
	background:none;
	border-left:none;
}
.tm-violet > li > div > span span{
	border-top: 5px solid #921a65;
}
.tmstack .tm-violet > li > div > span span{
	border-left: 5px solid #921a65;
}
.tm-violet > li.tmprofile > div:hover > span span,
.tm-violet > li.split > div:hover > span span,
.tm-violet > li.nosplit:hover > div > span span{
	border-top: 5px solid #ffffff;
}
.tmstack .tm-violet > li.split > div:hover > span span,
.tmstack .tm-violet > li.nosplit:hover > div > span span{
	border-left: 5px solid #ffffff;
}
.tm-violet li ul{
	border:1px solid #861c5f;
	-moz-box-shadow: 0 0px 4px #666666;
	-webkit-box-shadow: 0 0px 4px #666666;
	box-shadow: 0 0px 4px #666666;
}
.tm-violet li ul li{
	background-color:#e377bb;
}
.tm-violet li ul a{
	color:#ffffff;
	background:#ae287c;
	border-left:1px solid #ffaee1;	
}
.tm-violet li ul li:hover > a,
.tm-violet ul li.tmgodown > ul > li:hover > a{
	background-color:#e842aa;
	-moz-box-shadow: 0 0 0px;
	-webkit-box-shadow: 0 0 0px;
	box-shadow: 0 0 0px;
	color:#ffffff;
}
.tm-violet li ul li:hover,
.tm-violet ul li.tmgodown > ul > li:hover{
	background-color:#ffffff;
}
.tm-violet li ul li.sep{
	border-top:1px solid #55123c;
	border-bottom:1px solid #ff92d6;
}
.tm-violet ul > li > a > span{
	border-left: 5px solid #ffa7de;
}
.tm-violet ul > li:hover > a > span{
	border-left: 5px solid #ffffff;
}
.tm-violet ul li.tmgodown > ul > li{
	background-color:#b64a8e;	
}
.tm-violet ul li.tmgodown > ul > li > a{
	color:#ffffff;
	background:#821c5c;
	border-left:1px solid #ffb0ff;	
}	
.tm-violet li.tmgodown > a > span,
.tm-violet li.tmgodown > a > span > span{
	background:#ffa7de;
}	
.tm-violet li.tmgodown:hover > a > span,
.tm-violet li.tmgodown:hover > a > span > span{
	background:#ffffff;
}		
.tm-violet li.tmgodown > ul > li.sep{
	border-top:1px solid #1e0615;
	border-bottom:1px solid #f084c8;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	