/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, sans-serif; color: #222; }
body { margin: 0; }

::-moz-selection { background: #777; color: #fff; text-shadow: none; }
::selection { background: #777; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

html, body {
	background: #fff;
	height:100%;
}


/* most used noon frame css */
.fl { float: left } .fr { float: right }
/*padding all*/
.pa5 { padding:5px } .pa10 { padding:10px } .pa15 { padding:15px } .pa20 { padding:20px }
/*padding top*/
.pt1{padding-top:1px} .pt2{padding-top:2px} .pt3{padding-top:3px} .pt4{padding-top:4px} .pt5{padding-top:5px} .pt10{padding-top:10px} .pt15{padding-top:15px} .pt20{padding-top:20px} 
/*padding right*/
.pr5{padding-right:5px} .pr10{padding-right:10px} .pr15{padding-right:15px} .pr20{padding-right:20px} .pr25 { padding-right: 25px; }
/*padding bottom*/
.pb5{padding-bottom:5px} .pb10{padding-bottom:10px} .pb15{padding-bottom:15px} .pb20{padding-bottom:20px}
/*padding left*/
.pl5{padding-left:5px} .pl10{padding-left:10px} .pl15{padding-left:15px} .pl20{padding-left:20px} .pl25{padding-left:25px;} .pl30{padding-left:30px;}
/*padding left + right */
.ph5{padding-left:5px;padding-right:5px} .ph10{padding-left:10px;padding-right:10px} .ph15{padding-left:15px;padding-right:15px} .ph20{padding-left:20px;padding-right:20px}
/*padding top + bottom */
.pv1{padding-top:1px;padding-bottom:1px} .pv5{padding-top:5px;padding-bottom:5px} .pv10{padding-top:10px;padding-bottom:10px} .pv15{padding-top:15px;padding-bottom:15px} .pv20{padding-top:20px;padding-bottom:20px}
/*margin all*/
.ma5{margin:5px} .ma10{margin:10px} .ma15{margin:15px} .ma20{margin:20px}
/*margin top*/
.mt1{margin-top:1px} .mt2{margin-top:2px} .mt3{margin-top:3px} .mt4{margin-top:4px} .mt5{margin-top:5px} .mt6{margin-top:6px}  .mt7{margin-top:7px} .mt8{margin-top:8px} .mt9{margin-top:9px}   .mt10{margin-top:10px} .mt12{margin-top:12px}  .mt13{margin-top:13px} .mt15{margin-top:15px} .mt20{margin-top:20px} .mt25{margin-top:25px}  
/*margin right*/
.mr1{margin-right:1px} .mr5{margin-right:5px} .mr10{margin-right:10px}  .mr9{margin-right:9px} .mr15{margin-right:15px} .mr20{margin-right:20px} 
/*margin bottom*/
.mb0 {margin-bottom:0px} .mb5 {margin-bottom:5px} .mb10{margin-bottom:10px} .mb15{margin-bottom:15px} .mb20{margin-bottom:20px} .mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}
/*margin left*/
.ml5{margin-left:5px} .ml10{margin-left:10px} .ml15{margin-left:15px} .ml20{margin-left:20px} .ml30{margin-left:30px} .ml-1{margin-left:-1px;}
/*margin left + right*/
.mh5{margin-left:5px;margin-right:5px} .mh10{margin-left:10px;margin-right:10px} .mh15{margin-left:15px;margin-right:15px} .mh20{margin-left:20px;margin-right:20px}
.mha{margin-left:auto; margin-right:auto;}
/*margin top + right*/
.mv5{margin-top:5px;margin-bottom:5px} .mv10{margin-top:10px;margin-bottom:10px} .mv15{margin-top:15px;margin-bottom:15px} .mv20{margin-top:20px;margin-bottom:20px}
/*font style*/
.fwn{font-weight:normal} .fwb{font-weight:bold} .fsi { font-style: italic } 
/*text style*/
.tac { text-align: center } .tal { text-align: left } .tar { text-align: right } .taj{text-align: justify} .ttu { text-transform: uppercase; } .ttc{text-transform: capitalize;} .tdu{text-decoration:underline;} .tdn{text-decoration:none; &:hover { text-decoration:none }} 
.ti9{ text-indent: -9999px; } .tsd{text-shadow: 1px 1px 0px #999;}
/*display style*/
.dpn { display:none } .dpb { display:block } .dpi { display:inline } .dpib { display:inline-block }
/*position style*/
.por { position: relative } .poa { position: absolute } .pof { position: fixed } 
/*overflow*/
.ofh{overflow:hidden;} .ofa{overflow:auto;} 
/* color */
.cf1 { color: #555; }
.cf2 { color: #887938; }
.cf3 { color: #fff; }
.cf4 { color: #444 }
.cf5 { color: #5e6363 } /* xam */
.cf6 { color: #a29563 } /* nau */
/* background */
.bg1 { background: #c6c6c6; }
.bg2 { background: #ee9d4e; }
.bg3 { background: #fff; }
.bg4 { background: #acb1b1; }
/* font size */
.fs10 { font-size: 10px }   .fs11 { font-size: 11px }  .fs12 { font-size: 12px }  .fs14 { font-size: 14px } 
.h47 { height:47px; } .h50 { height:50px; }
.lhn{ line-height: normal; }
.cp{ cursor: pointer; }
/* width */
 .w230 { width: 230px }  .w190 { width: 190px; }.w120 { width: 120px; } .w50 { width: 50px; } .w40 { width: 40px; } .w18 { width: 18px; }  
 .w100p { width: 100%; } .w90p { width: 90%; } .w80p { width: 80%; } .w75p { width: 75%; } .w70p { width: 70%; } .w15p { width: 15%; }
/* rounded */
.rounded7 { border-radius: 7px;  -moz-border-radius: 7px;  -webkit-border-radius: 7px;}
.rounded14 { border-radius: 14px;  -moz-border-radius: 14px;  -webkit-border-radius: 14px;}
/* icon */
.iChat { background: url(../img/chatIcon.png) no-repeat; display: inline-block; }
.iChat1 {  background-position: -1px -1px; width: 29px; height: 32px }
.iChat2 {  background-position: -1px -35px; width: 27px; height: 27px }
.iChat3 {  background-position: -1px -65px; width: 27px; height: 27px }
.iChat4 {  background-position: -36px -3px; width: 10px; height: 11px }
.iChat5 {  background-position: -50px -7px; width: 10px; height: 4px }
.iChat6 {  background-position: -62px -1px; width: 16px; height: 15px }
.iChat7 {  background-position: -34px -18px; width: 30px; height: 32px }
.iChat8 {  background-position: -33px -53px; width: 30px; height: 32px }
.iChat9 {  background-position: -1px -95px; width: 27px; height: 27px }


/* Header */

header, footer, div#main {
	left: 0;
	right: 0;
	margin: auto;
}

header {
	height: 60px;
	top: 0;
	position:fixed;
	background: #e1e1e1;
	z-index: 11;
}

/* Main */
#main {
	padding-top: 60px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right:25px;
	//min-height: 100%;
	//border-right:20px solid #e1e1e1; 
}

#main-rightbar {
	background: #e1e1e1;
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 25px;
}

#menubar {
	background: #e1e1e1;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 80px;
}

.likeMain {
	background: #e1e1e1;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0;
	width: 88px;
	margin-top: 60px;
	margin-bottom: 50px;
}

.tabsNavigation {
	//background: url(../img/sprite-1.png) no-repeat -263px -234px;
	width: 78px;
	overflow-y: hidden;
	overflow-x: hidden;
	//position: absolute;
	//bottom: 0;
	//top: 0;
	//left: auto;
	//right: auto;
	padding: 0px 0px 0px 10px;
	background:#e1e1e1 url(../img/menubarBackground.jpg) 20px 0px repeat-y;
	z-index:12;	
}

.tabsNavigation ul {
	padding: 0px 0px 0px 10px;
}

.tabsNavigation li.viewer span {
	background: url(../img/sprite-1.png) no-repeat -27px -224px;
	color: #656f71;
	font-size: 7px;
	display: block;
	width: 54px;
	height: 26px;
	padding: 6px 0 0 26px;
}

.tabsNavigation li {
	list-style: none;
//	background: url(../img/menubarSeparator.png) bottom repeat-x;
	position: relative;
	height: 70px;
}

.tabsNavigation li:last-of-type {
	background: none;
}

.tabsNavigation li.viewer {
	background: none;
	height: 26px;
}

.tabsNavigation li a {
	display: block;
	width: 65px;
	padding: 48px 0 0 0;
	background: url(../img/sprite-2.png) no-repeat;
	font-size: 9px;
	line-height: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
	color: #ABB0B1;
	text-transform: uppercase;
}

.tabsNavigation li a:hover {
	color: #D9DDDD;
}

.tabsNavigation li.active .activeTab {
	position: absolute;
	background: url(../img/sprite-2.png) no-repeat -211px -80px;
	width: 82px;
	height: 70px;
	left: -14px;
}

.tabsNavigation li.active .activeTab a {
	background-position-x: -43px;
	color: #485152;
	margin-left: 15px;
}

.tabsNavigation li a.home {
	background-position: 10px -10px;
}

.tabsNavigation li a.activity {
	background-position: 10px -62px;
}

.tabsNavigation li a.calendar {
	background-position: 10px -110px;
}

.tabsNavigation li a.addressbook {
	background-position: 10px -163px;
}

.tabsNavigation .spacer {
	height: 20px;
}

a.appsIconBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 55px;
	height: 15px;
	margin: 0;
	bottom: 75px;
	left: -880px;
	right: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 99;
	cursor: s-resize;
}

a.appsIconTop {
	position: absolute;
	left: 0;
	width: 55px;
	height: 15px;
	margin: 0;
	top: 60px;
	left: -880px;
	cursor: n-resize;
	right: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 99;
}

.tabsNavigationPagers {
//	display: none;
}







#bottomMenus {
	position: absolute;
	background: url(../img/sprite-1.png) no-repeat -222px -185px;
	width: 70px;
	height: 25px;
	margin: 0;
	padding: 18px 0 0 0px;
	left: 18px;
	bottom: 0px;
	list-style: none;
	z-index:13;
}

#bottomMenus a {
	background: url(../img/sprite-1.png) no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 6px 0 0 12px;
}

#bottomMenus a.history {
	background-position: -108px -179px;
}

#bottomMenus a.favorites {
	background-position: -128px -178px;
}

#bottomMenus a:hover, #bottomMenus a.active {
	background-position-y: -227px;
}



#main-ctr {
	position: fixed;
	background: url(../img/sprite-1.png) no-repeat -263px -234px;
	width: 5px;
	height: 4px;
	top: 60px;
	right: 25px;
	z-index:13;
}

#main-cbr {
	position: fixed;
	background: url(../img/sprite-1.png) no-repeat -284px -241px;
	width: 5px;
	height: 4px;
	bottom: 50px;
	right: 25px;
	z-index:13;
}




/* Footer */
footer {
	height: 50px;
	position: fixed;
	bottom: 0;
	background: #e1e1e1;
	z-index:11;
}

footer.smallOne {
	position: inherit;
	padding-top: 3px;
	width: 315px;
	margin: auto;
}

footer .logo {
	display: block;
	width: 150px;
	height: 27px;
	background: url(../img/poweredby.png) no-repeat;
	margin: 10px 0 0 0;
	float: left;
}

footer .links {
	float: left;
	padding: 10px 0 0 20px;
}

footer .links a {
	color: #979797;
	font-size: 11px;
	text-decoration: underline;
	margin-right: 10px;
}
