img{
	border:0px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

*{
	margin: 0px;
	padding: 0px;
	outline: 0 none;
}


ul {
    list-style: none outside none;
}
ul li{
	list-style:none;
}
.clearAll{ clear: both; font-size: 0px; width: 0px; height: 0px; }

html, body{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
}
.ClearLeft{
	clear:left;
}
/*BEGIN INVOICE CSS */
#breadcrumb{
	width:1000px;
	height:64px;
}
#module_name{
	width:800px;
	float:left;
}
#module_name ul li{
	float:left;
	margin-right:13px;
}
.arrow{
	background:url(../img/arrow.png);
	width:4px;
	height:19px;
	margin-top:15px;
}
.curent_page{
	margin-top:15px;
	color:#808080;
}
.mainContent{
	width:100%;
	float:left;
	margin-left:126px;
	display:inline;
}
#favoriteIcon{
	margin-top:15px !important;
}
#top_button{
	float:left;
	width:200px;
	margin-top:11px;
}
#top_button ul li{
	float:left;
	margin-right:9px;
}
.btn_list{
	width:42px;
	height:27px;
	background:url(../img/btn_list.jpg);
	cursor:pointer;
}
.btn_new{
	width:44px;
	height:27px;
	background:url(../img/btn_new.jpg);
	cursor:pointer;
}
#content_top{
	width:1000px;
	height:95px;
}
#user_profile{
	width:775px;
	float:left;
}
#user_avatar{
	width:52px;
	height:52px;
	float:left;
	padding:0 16px 12px 0;
}
#user_info{
	width:100%;
	color:#485152;
}
#user_info ul li{
	width:100%;
	margin-bottom:8px;
}
.user_sex{
	font-size:16px;
}
.user_name{
	font-size:24px;
	font-weight:bold;
}
.user_position{
	font-size:18px;
	font-weight:bold;
}
#customer_list{
	width:121px;
	height:27px;
	float:left;
}
#invoice_fillter{
	width:860px;
	height:258px;
}
.invoice_title{
	width:100%;
	color:#a8682a;
	font-size:12px;
	font-weight:bold;
	float:left;
	height:20px;
}
.arrow_title{
	width:10px;
	height:10px;
	background:url(../img/arrow_title.png) no-repeat;
	margin-top:3px;
}
.invoice_title span{
	float:left;
}
#items_fillter{
	width:100%;
	height:87px;
	background:url(../img/shadown_fillter.png) no-repeat;
	float:left;
	padding-top:20px;
}
#items_fillter ul li{
	float:left;
	margin-right:2px;
	font-size:13px;
	font-weight:bold;
	width:123px;
	height:50px;
}
#items_fillter  a{
	font-size:11px;
}
#items_fillter  select{
	width:121px;
}
#items_fillter  input{
	width:110px;
}
.fillter_label{
	width:123px;
	margin-bottom:5px;
	float:left;
}
#invoice_amount input{
	border:0 !important;
	font-weight:bold;
	color:#A8682A;
	box-shadow:none !important;
	margin:-11px 0 0px 0;
}
#slider-range{
	margin-top:-3px;
}
.btn_submit{
	width:57px;
	height:27px;
	background:url(../img/btn_submit.jpg) no-repeat;
	cursor:pointer;
	margin-top: 24px;
}
/*END INVOICE CSS */





