.appsubmenu ul.dropdown .icon16 {
 padding-left: 32px;
 background-position: 10px 8px;
 background-repeat: no-repeat;
}

.appsubmenu ul.dropdown li ul li .icon16 {
 padding-left: 32px;
 background-position: 10px 10px;
 background-repeat: no-repeat;
}

.appsubmenu ul.dropdown .icon16r {
 padding-right: 24px;
 background-position: 96% center;
 background-repeat: no-repeat;
}

.appsubmenu ul.dropdown,
.appsubmenu ul.dropdown li,
.appsubmenu ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

.appsubmenu ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

.appsubmenu ul.dropdown li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}

.appsubmenu ul.dropdown li.hover,
.appsubmenu ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

.appsubmenu ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

.appsubmenu ul.dropdown ul li {
 float: none;
}

.appsubmenu ul.dropdown ul ul {
 top: -2px;
 left: 181px;
}

.appsubmenu ul.dropdown li:hover > ul {
 visibility: visible;
}



/**
 * Default CSS Drop-Down Menu Theme
 */

.appsubmenu {
 display: block;
 clear: both;
 height: 35px;
 //background: #eee;
}


.appsubmenu ul.dropdown {
 font-weight: normal;
 font-size: 11px;
 color: #000;
}

.appsubmenu ul.dropdown li.hover,
.appsubmenu ul.dropdown li:hover {
background: #e8e8e8;
background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dfdfdf));
background: -moz-linear-gradient(top, #fefefe, #dfdfdf);
background: linear-gradient(top, #fefefe, #dfdfdf);
}

.appsubmenu ul.dropdown li a {
display: block;
padding: 8px 12px 8px 12px;
}

.appsubmenu ul.dropdown li.nolink {
display: block;
padding: 8px 12px 8px 12px;
}

.appsubmenu ul.dropdown li.nolink:hover {
background: transparent;
}

.appsubmenu ul.dropdown li.title {
    font-weight: bold;
}

.appsubmenu ul.dropdown a:link,
.appsubmenu ul.dropdown a:visited	{ color: #000; text-decoration: none; }
.appsubmenu ul.dropdown a:hover	{ color: #000; }


.appsubmenu ul.dropdown ul {
width: 180px;
margin-top: 0px;
border: 3px solid #ddd;
box-shadow: 1px 1px 3px #888;
-moz-box-shadow: 2px 2px 2px #888;
-webkit-box-shadow: 1px 1px 3px #888;
}

.appsubmenu ul.dropdown ul li {
border-style: solid;
border-width: 1px 1px 1px 0;
border-color: #fff #d9d9d9 #d9d9d9;
background-color: #f6f6f6;
}

.appsubmenu ul.dropdown li ul li.hover,
.appsubmenu ul.dropdown li ul li:hover {
background-color: #eee;
}

.appsubmenu ul.dropdown li ul li a {
display: block;
padding: 10px 7px 10px 7px;
}

.appsubmenu ul.dropdown ul *.dir {
border-right: 5px solid #ccc;
}